.css-form input.ng-invalid.ng-dirty {
	background-color: #FFECED;
}

.css-form input.ng-valid.ng-dirty {
	background-color: #DCF5DF;
}

.btn-margin{
	margin-left: 4px;
}

section {
    padding-top: 60px;
}

.text-info {
	color: #3A87AD;
}

.text-black {
  color: #000000;
}

.text-success {
    color: #468847;
}

#Fixed {
	max-height: 600px;
    overflow: hidden;
	overflow-y: auto;
}

#FixedRate {
  max-height: 750px;
    overflow: hidden;
  overflow-y: auto;
}

#FixedCharge {
  max-height: 400px;
    overflow: hidden;
  overflow-y: auto;
}

.content-area{
			height:300px;
		}

/*scrollpane custom CSS*/
.jspVerticalBar {
	width: 8px;
	background: transparent;
	right:10px;
}

.jspHorizontalBar {
	bottom: 5px;
	width: 100%;
	height: 8px;
	background: transparent;
}
.jspTrack {
	background: transparent;
}

.jspDrag {
	background: url(../img/transparent-black.png) repeat;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspCorner {
	display:none
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #0081C2;
    background-image: linear-gradient(to bottom, #000000, #000000);
    background-repeat: repeat-x;
    color: white;
    outline: 0 none;
    text-decoration: none;
}

.alert-blank {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px !important;
}

.alert-blank a:hover {
  color: #0088CC;
  text-decoration: underline;
  /*border-bottom: 3px solid #333;*/
}

.nav-tabs {
    border-bottom: 1px dashed #DDDDDD;
}
.nav-tabs > li {
  margin: 0 1px 0 0;
}
.nav-tabs > li > a {
  padding-top: 2px;
  padding-bottom: 6px;
  line-height: 20px;
  color: #777;
  border: 1px solid transparent;
}
.nav-tabs > li > a:hover {
  color: #222;
  background-color: #ffffff;
  border-color: #ffffff #ffffff #ffffff;
}
.nav-tabs > li > a:active {
  color: #dd4b39;
}
.nav-tabs li:hover {
  color: #333;
  /*border-bottom: 3px solid #333;*/
}
.nav-tabs li.active {
  font-weight: bold;
  border-bottom: 3px solid #dd4b39;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #dd4b39;
  border: 1px solid transparent;
}

a, a:hover {
    color: #000000;
    text-decoration: none;
}

.fileinput-button 
{
  position: relative;
  overflow: hidden;
}

.fileinput-button input 
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.legend
{
   border-style: none none dashed;  
}
/* Gmail style scrollbar */
::-webkit-scrollbar {
width: 12px
}
::-webkit-scrollbar-thumb {
border-width: 1px 1px 1px 2px
}
::-webkit-scrollbar-track {
border-width: 0
}
::-webkit-scrollbar {
height: 16px;
overflow: visible;
width: 16px;
}
::-webkit-scrollbar-button {
height: 0;
width: 0;
}
::-webkit-scrollbar-track {
background-clip: padding-box;
border: solid transparent;
border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
background-color: rgba(220,172,0,.05);
box-shadow: inset 1px 0 0 rgba(220,172,0,.1);
}
::-webkit-scrollbar-track:horizontal:hover {
box-shadow: inset 0 1px 0 rgba(220,172,0,.1)
}
::-webkit-scrollbar-track:active {
background-color: rgba(220,172,0,.05);
box-shadow: inset 1px 0 0 rgba(220,172,0,.14),inset -1px 0 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-track:horizontal:active {
box-shadow: inset 0 1px 0 rgba(220,172,0,.14),inset 0 -1px 0 rgba(220,172,0,.07)
}
::-webkit-scrollbar-thumb {
background-color: rgba(220,172,0,.2);
background-clip: padding-box;
border: solid transparent;
border-width: 1px 1px 1px 6px;
min-height: 28px;
padding: 100px 0 0;
box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset 0 -1px 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb:horizontal {
border-width: 6px 1px 1px;
padding: 0 0 0 100px;
box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset -1px 0 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb:hover {
background-color: rgba(220,172,0,.4);
box-shadow: inset 1px 1px 1px rgba(220,172,0,.25);
}
::-webkit-scrollbar-thumb:active {
background-color: rgba(220,172,0,0.5);
box-shadow: inset 1px 1px 3px rgba(220,172,0,0.35);
}
::-webkit-scrollbar-track {
border-width: 0 1px 0 6px
}
::-webkit-scrollbar-track:horizontal {
border-width: 6px 0 1px
}
::-webkit-scrollbar-track:hover {
background-color: rgba(220,172,0,.035);
box-shadow: inset 1px 1px 0 rgba(220,172,0,.14),inset -1px -1px 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb {
border-width: 0 1px 0 6px
}
::-webkit-scrollbar-thumb:horizontal {
border-width: 6px 0 1px
}
::-webkit-scrollbar-corner {
background: transparent
}
body::-webkit-scrollbar-track-piece {
background-clip: padding-box;
background-color: #f5f5f5;
border: solid #fff;
border-width: 0 0 0 3px;
box-shadow: inset 1px 0 0 rgba(220,172,0,.14),inset -1px 0 0 rgba(220,172,0,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
border-width: 3px 0 0;
box-shadow: inset 0 1px 0 rgba(220,172,0,.14),inset 0 -1px 0 rgba(220,172,0,.07);
}
body::-webkit-scrollbar-thumb {
border-width: 1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
background-clip: padding-box;
background-color: #f5f5f5;
border: solid #fff;
border-width: 3px 0 0 3px;
box-shadow: inset 1px 1px 0 rgba(220,172,0,.14);
}

.link {
    color: #0088CC;
    text-decoration: none;
}

.link a {
  color: #0088CC;
  text-decoration: none;
}

.link a:hover {
  color: #000000;
  text-decoration: underline;
}

.linkGreen {
    color: #92C53F;
    text-decoration: none;
}

.linkGreen a:hover {
  color: #0088CC;
  text-decoration: underline;
}

.linkWhite {
    color: #FFFFFF;
    text-decoration: none;
}

.linkWhite a:hover {
  color: #000000;
}

.logoGrey {
    color: #A0A0A0;
    text-decoration: none;
}

.landingPara
{
  margin: -70px 40px 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.wrapIt
{
  word-wrap: break-word
}
.strikeThrough
{
text-decoration: line-through;
}

.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:21.97%;
 }

 @media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
 }

 @media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
 }
 .alert-warning {
    background-color: #FBB046;
    border: 1px solid #F0C36D;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #333333;
    padding: 8px 35px 8px 10px;
    text-shadow: none;
}