
<div class="offset1 span8">
  <form novalidate="novalidate" name="form" class="form-horizontal">
    <div class="fieldset">
      <div class="fluid-row">
        <div class="pull-right"><a ng-hide="accountCreateLoader" ng-click="backToList()" style="cursor: pointer;" bs-tooltip="tooltip.back" class="btn btn-primary btn-margin"><i class="icon-mail-reply icon-large"></i></a>
          <button permission="createAccount.*.*" ng-hide="accountCreateLoader" ng-disabled="form.$invalid" type="submit" ng-click="create(account)" style="cursor: pointer;" bs-tooltip="tooltip.save" class="btn btn-primary"><i class="icon-ok icon-large"></i></button><i ng-show="accountCreateLoader" class="icon-spinner icon-spin icon-2x"></i>
        </div>
      </div>
      <tabs>
        <pane heading="Account" style="overflow:hidden">
          <div class="control-group">
            <label class="control-label">Account Name</label>
            <div class="controls">
              <input type="text" name="accountName" duplicate="account" ng-model="account.accountName" placeholder="Account Name" style="width:200px" required="required"/>
              <label ng-show="form.accountName.$error.required" class="help-inline required">*</label>
              <label ng-show="form.accountName.$error.duplicate" class="help-inline required">Account exists.</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Account Codes</label>
            <div class="controls">
              <input type="text" name="accountCodes" duplicate="accountCode" ng-model="account.accountCodes" placeholder="Account Codes" style="width:200px" required="required"/>
              <label ng-show="form.accountCodes.$error.required" class="help-inline required">*</label>
              <label ng-show="form.accountCodes.$error.duplicate" class="help-inline required">Account code exists.</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Account Type</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="accountType" ng-model="account.accountType" data-placeholder="Account Type" style="width:220px" required="required">
                <option value=""></option>
                <option ng-repeat="row in accountTypeList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.accountType.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div ng-show="account.accountType=='INTERNATIONAL'" class="control-group">
            <label class="control-label">Shipment Modes</label>
            <div class="controls">
              <select ui-select2="ui-select2" multiple="multiple" name="shipmentModes" ng-model="account.shipmentModes" data-placeholder="Shipment Modes" style="width:220px">
                <option ng-repeat="row in shipmentModesList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Shipment Volume</label>
            <div class="controls">
              <input type="text" name="shipmentVolume" ng-model="account.shipmentVolume" placeholder="Shipment Volume" style="width:205px" required="required"/>
              <label ng-show="form.shipmentVolume.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> AR Booked in</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="ARBookedIn" ng-model="account.ARBookedIn" data-placeholder="AR Booked In" style="width:220px" required="required">
                <option value=""></option>
                <option ng-repeat="row in ARBookedInList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.ARBookedIn.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Invoicing Type</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="invoicingType" ng-model="account.invoicingType" data-placeholder="Invoicing Type" style="width:220px" required="required">
                <option value=""></option>
                <option ng-repeat="row in invoicingTypeList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.invoicingType.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Rating Type</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="ratingType" ng-model="account.ratingType" data-placeholder="Rating Type" style="width:220px" required="required">
                <option value=""></option>
                <option ng-repeat="row in ratingTypeList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.ratingType.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div ng-show="account.ratingType=='TARIFF'" class="control-group">
            <label class="control-label">Currency Conversion Applicable</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="currencyConversionApplicable" ng-model="account.currencyConversionApplicable" data-placeholder="Currency Conversion Applicable" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in currencyConversionApplicableList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div ng-show="account.ratingType=='TARIFF'" class="control-group">
            <label class="control-label">Sources Of Currency Conversation</label>
            <div class="controls">
              <select ui-select2="ui-select2" multiple="multiple" name="sourcesOfCurrencyConversation" ng-model="account.sourcesOfCurrencyConversation" data-placeholder="Sources Of Currency Conversation" style="width:220px">
                <option ng-repeat="row in sourcesOfCurrencyConversationList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Any Limitation On # Of Days To Invoice</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="anyLimitationOnNoOfDaysToInvoice" ng-model="account.anyLimitationOnNoOfDaysToInvoice" data-placeholder="Any Limitation On # Of Days To Invoice" style="width:220px" required="required">
                <option value=""></option>
                <option ng-repeat="row in anyLimitationOnNoOfDaysToInvoiceList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.anyLimitationOnNoOfDaysToInvoice.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div ng-show="account.anyLimitationOnNoOfDaysToInvoice=='YES'" class="control-group">
            <label class="control-label">Criteria</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="criteria" ng-model="account.criteria" data-placeholder="Criteria" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in criteriaList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div ng-show="account.anyLimitationOnNoOfDaysToInvoice=='YES'" class="control-group">
            <label class="control-label"># Of Days</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="noOfDaysToInvoice" ng-model="account.noOfDaysToInvoice" data-placeholder="# Of Days" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in noOfDaysToInvoiceList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Workflow Mode</label>
            <div class="controls">
              <select ui-select2="{allowClear: true}" name="workflowMode" ng-model="account.workflowMode" data-placeholder="Please select..." style="width:220px">
                <option value=""></option>
                <option ng-repeat="workflowMode in workflowModeList" value="{{workflowMode.wmid}}">{{workflowMode.n}}</option>
              </select>
            </div>
          </div>
          <div ng-switch="account.workflowMode">
            <div ng-switch-when="1" class="control-group">
              <label class="control-label">Select Workflow</label>
              <div class="controls">
                <input ui-select2="workflowBar" name="workflowBar" ng-model="account.workflow" class="span4"/>
              </div>
            </div>
            <div ng-switch-when="2" class="control-group">
              <label class="control-label">Select Group</label>
              <div class="controls">
                <input ui-select2="groupBar" name="groupBar" ng-model="account.group" required="required" class="span4"/>
                <div ng-show="form.groupBar.$error.required" class="help-inline required">*</div>
              </div>
            </div>
            <div ng-switch-when="3" class="control-group">
              <label class="control-label">Add Condition</label>
              <div class="controls">
                <input type="text" name="condition" ng-model="account.condition" required="required"/>
                <div ng-show="form.condition.$error.required" class="help-inline required">*</div>
              </div>
            </div>
          </div>
        </pane>
        <pane heading="Invoice Delivery" style="overflow:hidden">
          <div class="control-group">
            <label class="control-label"> Invoice Delivery Mode</label>
            <div class="controls">
              <select ui-select2="ui-select2" multiple="multiple" name="invoiceDeliveryMode" ng-model="account.invoiceDeliveryMode" data-placeholder="Invoice Delivery Mode" style="width:220px" required="required">                                                               
                <option ng-repeat="row in invoiceDeliveryModeList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.invoiceDeliveryMode.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Invoice Delivery Frequency</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="invoiceDeliveryFrequency" ng-model="account.invoiceDeliveryFrequency" data-placeholder="Invoice Delivery Frequency" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in invoiceDeliveryFrequencyList" value="{{row.v}}">{{row.n}}                                                       </option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Invoice Redelivery Mode</label>
            <div class="controls">
              <select ui-select2="ui-select2" multiple="multiple" name="invoiceRedeliveryMode" ng-model="account.invoiceRedeliveryMode" data-placeholder="Invoice Redelivery Mode" style="width:220px">                                                               
                <option ng-repeat="row in invoiceRedeliveryModeList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Back-Up Document Requirements</label>
            <div class="controls">
              <select ui-select2="ui-select2" multiple="multiple" name="backUpDocumentRequirements" ng-model="account.backUpDocumentRequirements" data-placeholder="Back-Up Document Requirements" style="width:220px">
                <option ng-repeat="row in backUpDocumentRequirementsList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Back-Up Data Requirements</label>
            <div class="controls">
              <select ui-select2="ui-select2" multiple="multiple" name="backUpDataRequirements" ng-model="account.backUpDataRequirements" data-placeholder="Back-Up Data Requirements" style="width:220px">
                <option ng-repeat="row in backUpDataRequirementsList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
        </pane>
        <pane heading="Collections" style="overflow:hidden">
          <div class="control-group">
            <label class="control-label"> Payment Mode</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="paymentMode" ng-model="account.paymentMode" placeholder="Payment Mode" style="width:205px" required="required">
                <option value=""></option>
                <option ng-repeat="row in paymentModeList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.paymentMode.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"> Payment Frequency</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="paymentFrequency" ng-model="account.paymentFrequency" placeholder="Payment Frequency" style="width:205px" required="required">
                <option value=""></option>
                <option ng-repeat="row in paymentFrequencyList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.paymentFrequency.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Is FPC Applicable?</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="isFpcApplicable" ng-model="account.isFpcApplicable" data-placeholder="Is FPC Applicable?" style="width:220px" required="required">
                <option value=""></option>
                <option ng-repeat="row in isFpcApplicableList" value="{{row.v}}">{{row.n}}</option>
              </select>
              <label ng-show="form.isFpcApplicable.$error.required" class="help-inline required">*</label>
            </div>
          </div>
          <div ng-show="account.isFpcApplicable=='YES'" class="control-group">
            <label class="control-label"> Name of FPC</label>
            <div class="controls">
              <input type="text" name="fpcName" ng-model="account.fpcName" placeholder="Name of FPC" style="width:205px"/>
            </div>
          </div>
          <div ng-show="account.isFpcApplicable=='YES'" class="control-group">
            <label class="control-label"> Website Link</label>
            <div class="controls">
              <input type="url" name="fpcWebsiteLink" ng-model="account.fpcWebsiteLink" placeholder="Website Link" style="width:205px"/>
              <label ng-show="form.fpcWebsiteLink.$error.url" class="help-inline required">  invalid url</label>
            </div>
          </div>
          <div ng-show="account.isFpcApplicable=='YES'" class="control-group">
            <label class="control-label"> Login ID (If applicable)</label>
            <div class="controls">
              <input type="text" name="fpcLoginId" ng-model="account.fpcLoginId" placeholder="Login ID" style="width:205px"/>
            </div>
          </div>
          <div ng-show="account.isFpcApplicable=='YES'" class="control-group">
            <label class="control-label"> Password (if applicable)</label>
            <div class="controls">
              <input type="text" name="fpcPassword" ng-model="account.fpcPassword" placeholder="Password" style="width:205px"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Approval Notification Format</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="approvalNotificationFormat" ng-model="account.approvalNotificationFormat" data-placeholder="Approval Notification Format" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in approvalNotificationFormatList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Approval Notification Frequency</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="approvalNotificationFrequency" ng-model="account.approvalNotificationFrequency" data-placeholder="Approval Notification Frequency" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in approvalNotificationFrequencyList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Is remittance received</label>
            <div class="controls">
              <select ui-select2="ui-select2" name="isRemittanceReceived" ng-model="account.isRemittanceReceived" data-placeholder="Is remittance received" style="width:220px">
                <option value=""></option>
                <option ng-repeat="row in isRemittanceReceivedList" value="{{row.v}}">{{row.n}}</option>
              </select>
            </div>
          </div>
        </pane>
        <pane heading="Contacts" style="overflow:hidden">
          <div class="control-group">
            <div class="span6">Role</div>
            <div class="span6">User</div>
          </div>
          <ng-form name="permissionForm" ng-repeat="row in account.role">
            <div class="row-fluid">
              <div class="span6">
                <input ng-disabled="$index == 0" ui-select2="roleBar" ng-click="rolesCallback($index)" name="roleBar" ng-model="account.role[$index]" required="required" class="span9"/>
                <div ng-show="form.roleBar.$error.required" class="help-inline required">*</div>
              </div>
              <div class="span6">
                <input ui-select2="userBar" ng-click="rolesCallback($index)" name="userBar" ng-model="account.user[$index]" required="required" class="span9"/>
                <div ng-show="form.userBar.$error.required" class="help-inline required">*</div>
                <div class="help-inline"><a ng-hide="$index == 0" ng-click="removeRoles($index)" class="close">&times;</a></div>
              </div>
            </div><br/>
          </ng-form>
        </pane>
      </tabs>
    </div>
  </form>
</div>