
<div class="modal hide fade">    </div>
<div class="modal-header">
  <h3>New Role</h3>
</div>
<div class="modal-body">
  <form novalidate="novalidate" name="form" ng-controller="mRoleCtrl" class="form-horizontal">      
    <fieldset>
      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
          <label><b>{{item.name}}</b></label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <textarea rows="3" name="roleDescription" ng-model="item.description" placeholder="Role Description" required="required"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Permissions</label>
        <div class="controls">
          <input ui-select2="roleBar" name="roleBar" ng-model="item.definition" required="required" class="roleBarselect"/>
          <div ng-show="form.roleBar.$error.required" class="help-inline required">*</div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button ng-disabled="form.$invalid" type="submit" data-dismiss="modal" ng-click="save()" class="btn btn-primary">Save</button>
  <button ng-click="close()" class="btn btn-inverse">Cancel</button>
</div>