
<div class="offset1 span8">
  <form novalidate="novalidate" name="form" class="form-horizontal">
    <fieldset>
      <legend>Metadata</legend>
      <div class="fluid-row">
        <div class="pull-right"><a ng-hide="metadataCreateLoader" ng-click="backToListMetadata()" style="cursor: pointer;" bs-tooltip="tooltip.back" class="btn btn-primary btn-margin"><i class="icon-mail-reply icon-large"></i></a>
          <button permission="createMetadata.*.*" ng-hide="metadataCreateLoader" ng-disabled="form.$invalid" type="submit" ng-click="createMetadata(metadata,$stateParams.metadataType)" style="cursor: pointer;" bs-tooltip="tooltip.save" class="btn btn-primary"><i class="icon-ok icon-large"></i></button><i ng-show="metadataCreateLoader" class="icon-spinner icon-spin icon-2x"></i>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Value</label>
        <div class="controls">
          <input type="text" name="value" duplicate="metadata" ng-model="metadata.value" placeholder="Value" required="required"/>
          <label ng-show="form.value.$error.required" class="help-inline required">*</label>
          <label ng-show="form.value.$error.duplicate" class="help-inline required">Metadata exists.  </label>
        </div>
      </div>
      <ng-form name="fieldsForm" ng-repeat="row in selectedMetadataFields" ng-switch="row.t">
        <div ng-switch-when="text" class="control-group">
          <label class="control-label">{{row.v}}</label>
          <div class="controls">                                               
            <input type="text" name="otherFields" ng-model="metadata[row.v]" placeholder="{{row.v}}" required="{{row.m}}"/>
            <label ng-show="fieldsForm.otherFields.$error.required" class="help-inline required">*                                                </label>
          </div>
        </div>
        <div ng-switch-when="email" class="control-group">
          <label class="control-label">{{row.v}}</label>
          <div class="controls">                                               
            <input type="email" name="otherFields" ng-model="metadata[row.v]" placeholder="{{row.v}}" required="{{row.m}}"/>
            <label ng-show="fieldsForm.otherFields.$error.required" class="help-inline required">*</label>
            <label ng-show="fieldsForm.otherFields.$error.email" class="help-inline required">This is not a valid email!</label>
          </div>
        </div>
        <div ng-switch-when="date" class="control-group">
          <label class="control-label">{{row.v}}</label>
          <div class="controls">                                               
            <input type="date" data-date-format="dd-mm-yyyy" bs-datepicker="bs-datepicker" name="otherFields" ng-model="metadata[row.v]" placeholder="{{row.v}}" required="{{row.m}}"/>
            <label ng-show="fieldsForm.otherFields.$error.required" class="help-inline required">*</label>
            <label ng-show="fieldsForm.otherFields.$error.date" class="help-inline required">This is not a valid date.!</label>
          </div>
        </div>
        <div ng-switch-when="number" class="control-group">
          <label class="control-label">{{row.v}}</label>
          <div class="controls">                                               
            <input type="number" name="otherFields" ng-model="metadata[row.v]" placeholder="{{row.v}}" required="{{row.m}}"/>
            <label ng-show="fieldsForm.otherFields.$error.required" class="help-inline required">*</label>
            <label ng-show="fieldsForm.otherFields.$error.email" class="help-inline required">This is not a valid number!</label>
          </div>
        </div>
      </ng-form>
    </fieldset>
  </form>
</div>