
<form novalidate="novalidate" name="form" class="form-horizontal">
  <legend>New Quote Request</legend>
  <div ng-repeat="row in defaultFields" class="control-group">
    <label class="control-label">{{row.dn}}</label>
    <div class="controls">
      <input type="text" name="{{row.n}}" ng-model="newRequest[row.n]" placeholder="{{row.dn}}" required="required"/>
      <label ng-show="form.{{row.n}}.$error.required" class="help-inline required">*</label>
      <label class="help-inline"><a ng-click="removeFromList($index)" class="close">&times;</a></label>
    </div>
  </div>
  <div class="control-group">                       
    <label class="control-label">Charge Type</label>
    <div class="controls">
      <select ui-select2="{allowClear: true}" name="chargeType" ng-model="newRequest.chargeType" data-placeholder="Please select..." style="width:200px" required="required">
        <option value=""></option>
        <option ng-repeat="row in chargeType" value="{{row.id}}">{{row.val}}</option>
      </select>
      <label ng-show="form.chargeType.$error.required" class="help-inline required">*</label>
    </div>
  </div>
  <div class="control-group">                       
    <label class="control-label">Rate Qualifier</label>
    <div class="controls">
      <select ui-select2="{allowClear: true}" name="rateQualifier" ng-model="newRequest.rateQualifier" data-placeholder="Please select..." style="width:200px" required="required">
        <option value=""></option>
        <option ng-repeat="row in rateQualifier" value="{{row.id}}">{{row.val}}</option>
      </select>
      <label ng-show="form.rateQualifier.$error.required" class="help-inline required">*        </label>
    </div>
  </div>
  <div class="control-group">                       
    <label class="control-label">Weight Brackets</label>
    <div class="controls">
      <div ng-repeat="row in weightBracketFields" class="row-fluid">
        <ng-form name="weightBracketForm">
          <input type="text" ui-event="{ blur : 'weightBracketCallback(&quot;s&quot;,$index)'}" name="s" ng-model="weightBracketFields[$index]['s']" placeholder="{{row.sph}}" required="required" class="span1"/>&nbsp-&nbsp                                        
          <input type="text" ui-event="{ blur : 'weightBracketCallback(&quot;e&quot;,$index)'}" name="e" ng-model="weightBracketFields[$index]['e']" placeholder="{{row.eph}}" required="required" class="span1"/>&nbsp&nbsp&nbsp&nbsp                                         
          <input type="text" name="v" ng-model="weightBracketFields[$index]['v']" placeholder="Value" required="required" class="span2"/>
          <label ng-show="weightBracketForm.v.$error.required" class="help-inline required">*</label>
          <label class="help-inline"><a ng-hide="$index == 0 || $index + 1 &lt;  weightBracketFields.length " ng-click="removeFromWeightBracketFields($index)" class="close">&times;</a></label>
        </ng-form>
      </div>
    </div>
  </div><br/>
  <div class="control-group">                       
    <label class="control-label">More Fields</label>
    <div class="controls">
      <select ui-select2="ui-select2" name="tag" ng-model="selectedOtherField" data-placeholder="Please select..." style="width:200px">
        <option value=""></option>
        <option ng-repeat="row in otherFields" value="{{row}}">{{row.dn}}</option>
      </select><a ng-click="appendToList()" class="btn btn-success btn-margin"><i class="icon-white icon-plus"></i></a>
    </div>
  </div>
  <div class="form-actions">
    <button ng-disabled="form.$invalid" type="submit" ng-click="createNewRequest(newRequest)" class="btn btn-primary">Send Request
      <button type="submit" class="btn btn-inverse">Cancel                </button>
    </button>
  </div>
</form>