
<div class="offset1 span8">
  <form novalidate="novalidate" name="form" class="form-horizontal">
    <div class="fieldset">
      <div class="fluid-row">
        <div class="pull-right"><a ng-hide="tariffCreateLoader" onClick="window.history.back()" style="cursor: pointer;" bs-tooltip="tooltip.back" class="btn btn-primary btn-margin"><i class="icon-mail-reply icon-large"></i></a>
          <button permission="tariffApprove.*.*" ng-hide="tariffCreateLoader || isInProcess" ng-disabled="form.$invalid" type="submit" ng-click="approveTariff(tariff)" style="cursor: pointer;" bs-tooltip="tooltip.approve" class="btn btn-success"><i class="icon-ok icon-large"></i></button>
          <button permission="tariffReject.*.*" ng-hide="tariffCreateLoader || isInProcess" ng-disabled="form.$invalid" type="submit" ng-click="rejectTariff()" style="cursor: pointer;" bs-tooltip="tooltip.reject" class="btn btn-danger"><i class="icon-remove icon-large"></i></button><i ng-show="tariffCreateLoader" class="icon-spinner icon-spin icon-2x"></i>
        </div>
        <legend>Revise Tariff</legend>
      </div>
      <div class="control-group">
        <label class="control-label">Effective Date</label>
        <div class="controls">
          <input type="text" name="effectiveDate" ng-model="tariff.effectiveDate" value="{{tariff.effectiveDate | date:'mediumDate'}}" data-date-format="M d, yyyy" placeholder="Effective Date" b-datepicker="{{dateOptions}}" bs-datepicker="bs-datepicker" required="required"/>
          <label ng-show="form.effectiveDate.$error.required" class="help-inline required">*</label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Expiry Date</label>
        <div class="controls">
          <input type="text" name="expiryDate" ng-model="tariff.expiryDate" value="{{tariff.expiryDate | date:'mediumDate'}}" data-date-format="M d, yyyy" placeholder="Expiry Date" b-datepicker="{{dateOptions}}" bs-datepicker="bs-datepicker" required="required"/>
          <label ng-show="form.expiryDate.$error.required" class="help-inline required">*</label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Received Date</label>
        <div class="controls">
          <input type="text" name="receivedDate" ng-model="tariff.receivedDate" value="{{tariff.receivedDate | date:'mediumDate'}}" data-date-format="M d, yyyy" placeholder="Received Date" b-datepicker="{{dateOptions}}" bs-datepicker="bs-datepicker" required="required"/>
          <label ng-show="form.receivedDate.$error.required" class="help-inline required">*</label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Received From</label>
        <div class="controls">
          <input type="text" name="receivedFrom" ng-model="tariff.receivedFrom" placeholder="Received From" required="required"/>
          <label ng-show="form.receivedFrom.$error.required" class="help-inline required">*</label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Comments</label>
        <div class="controls">
          <textarea rows="3" name="tariffComments" ng-model="tariff.comment" placeholder="Comments" required="required"></textarea>
          <label ng-show="form.tariffComments.$error.required" class="help-inline required">*</label>
        </div>
      </div>
    </div>
    <fieldset>
      <div class="fluid-row">
        <legend>Attached Documents</legend>
      </div>
      <div class="control-group">
        <div data-ng-repeat="f in tariff.docId">
          <ng-form class="row">
            <div class="alert-blank">
              <div id="reviseFiles{{$index}}" ng-controller="FileUploadController" ng-class="queue[0].$viewStyle()" class="btn-toolbar reviseFiles">
                <div class="row-fluid">
                  <div permission="reviseTariffDocument.*.*" class="btn-group">
                    <div ng-init="updateCurrentFile=true;">
                      <form data-upload-template-id="template-upload-2" method="POST" enctype="multipart/form-data" data-ng-app="angularApp" class="fileupload">
                        <div bs-tooltip="tooltip.upload" class="a btn btn-success fileinput-button"><i class="icon-upload-alt"></i>
                          <input type="file" id="files-upload" name="files[]" ng-click="fileToReplace(f)"/>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="btn-group">
                    <div permission="deleteTariffDocument.*.*" data-dismiss="alert" ng-click="removeExistingAttachment(f.id)" bs-tooltip="tooltip.delete" style="cursor: pointer;" class="btn btn-danger btn-small"><i class="icon-remove"></i></div>
                    <div class="btn btn-small"><i ng-hide="queue.length" class="icon-large icon-paper-clip"></i><i ng-class="queue[0].$iconStyle()" class="icon-large"></i><a permission="downloadTariff.*.*" ng-hide="queue.length" style="cursor: pointer;" bs-tooltip="tooltip.download" target="_blank" href="http://invoize.info/api/tms/download/file?id={{f.id}}" download="{{f.name}}" class="link"><strong>{{f.v}}</strong></a><a permission="downloadTariff.*.*" ng-show="queue.length" style="cursor: pointer;" bs-tooltip="tooltip.download" target="_blank" href="http://invoize.info/api/tms/download/file?id={{queue[0].id}}" download="{{queue[0].name}}" class="link"><strong>{{queue[0].name}}</strong></a><strong ng-hide="checkType(downloadTariff)">{{f.v}}</strong><strong ng-show="queue.length" ng-hide="checkType(downloadTariff)">{{queue[0].name}}</strong>
                    </div>
                    <div ng-show="queue.length" ng-click="UndoFileRevision(f.id,$index)" bs-tooltip="tooltip.undo" style="cursor: pointer;" class="btn btn-warning btn-small"><i class="icon-undo"></i></div>
                  </div>
                  <div bs-tooltip="tooltip.type" permission="reviseTariffDocument.*.*" class="btn-group pull-right span3">
                    <select name="fileTypeSelect" ng-model="f.t" ng-change="setFileType(f.id,f.t)" ng-options="value.id as value.name for (key, value) in fileTypeSelects" data-style="btn btn-success btn-small show-tick" bs-select="bs-select" required="required" class="span12"></select>
                    <label ng-show="form.fileTypeSelect.$error.required" class="help-inline required">*</label>
                  </div>
                </div>
              </div>
            </div>
          </ng-form>
        </div>
      </div>
    </fieldset>
    <fieldset ng-hide="isInProcess" permission="uploadTariffDocument.*.*">
      <div class="fluid-row">
        <legend>Upload New Documents</legend>
      </div>
      <div class="control-group">
        <div id="newFiles" ng-controller="FileUploadController">
          <form data-upload-template-id="template-upload-1" method="POST" enctype="multipart/form-data" data-ng-app="angularApp" data-file-upload="options" class="fileupload fileUps">
            <div class="row-fluid">
              <div bs-tooltip="tooltip.drop" id="drop-area" class="span12">
                <div bs-tooltip="tooltip.attach" class="btn btn-success fileinput-button pull-left"><i class="icon-paper-clip icon-white icon-2x"></i>
                  <input type="file" id="files-upload" name="files[]" multiple="multiple"/>
                </div>
                <div class="drop-instructions">Browse and upload multiple files or drag and drop files here</div>
                <div class="drop-over">Drop files here!</div>
              </div>
            </div>
            <div data-ng-repeat="file in queue">
              <div class="row-fluid">
                <div ng-class="file.$viewStyle()" class="btn-toolbar well well-small alert">
                  <div data-dismiss="alert" ng-click="removeNewAttachment(file.id)" bs-tooltip="tooltip.delete" style="cursor: pointer;" class="btn btn-danger"><i class="icon-remove"></i></div>
                  <div class="btn-group">
                    <div class="btn"><i ng-class="file.$iconStyle()" class="icon-large"></i><a style="cursor: pointer;" bs-tooltip="tooltip.download" target="_blank" href="http://invoize.info/api/tms/download/file?id={{file.id}}" download="{{file.name}}" class="link wrapIt"><strong>{{file.name}} &nbsp</strong></a></div>
                  </div>
                  <div bs-tooltip="tooltip.type" class="btn-group pull-right span3">
                    <select name="fileTypeSelect" ng-model="file.t" ng-change="setNewFileType(file.id,file.t)" ng-options="value.id as value.name for (key, value) in fileTypeSelects" data-style="btn btn-success btn-small show-tick" bs-select="bs-select" required="required" class="span12"></select>
                    <label ng-show="form.fileTypeSelect.$error.required" class="help-inline required">*</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
    <fieldset permission="historyTariff.*.*">
      <div class="fluid-row">
        <legend>History<i ng-show="tariffHistoryLoader" class="icon-spinner icon-spin icon icon-large"></i></legend>
      </div>
      <div ng-hide="tariffHistoryAvailable || tariffHistoryLoader" class="div">
        <h5>History not available for this tariff</h5>
      </div>
      <div ng-show="tariffHistoryAvailable" class="div">
        <div class="control-group">
          <div ng-repeat="row in documentRequestHistory" class="alert-blank">
            <div ng-click="isCollapsed = !isCollapsed" class="fluid-row"><i class="icon-user"></i><strong style="cursor: pointer;" bs-tooltip="tooltip.expand" class="text-info">&nbsp {{row.email}}</strong><span ng-show="row.oldSnapshot.action=='A'" class="small label label-success pull-right">Approved</span><span ng-show="row.oldSnapshot.action=='R'" class="small label label-important pull-right">Rejected</span><span ng-show="row.action=='C'" class="small label label-info pull-right">Created</span><br/><small class="muted">    Effective : {{row.oldSnapshot.effectiveDate | date:'mediumDate'}} ,</small><small class="muted">    Expiry : {{row.oldSnapshot.expiryDate | date:'mediumDate'}} ,</small><small class="muted">    Received : {{row.oldSnapshot.receivedDate | date:'mediumDate'}}</small>
              <div collapse="isCollapsed"><strong class="text-black">Attached Documents</strong>
                <div data-ng-repeat="file in row.oldSnapshot.docId">
                  <div>
                    <div class="pull-right">&nbsp<span class="small label label-info">{{file.t}}</span></div><i class="icon-large icon-paper-clip">&nbsp</i><a permission="downloadTariff.*.*" href="http://invoize.info/api/tms/download/file?id={{file.id}}" download="{{file.name}}" style="cursor: pointer;" bs-tooltip="tooltip.download" data-placement="right" class="link"><strong>{{file.v}}</strong></a><strong ng-hide="checkType(downloadTariff)">{{file.v}}<br/><small class="muted"> You do not have download permissions</small></strong>
                  </div>
                </div><strong class="text-black"> Comments</strong><br/><small>{{row.oldSnapshot.comment}}</small>
              </div>
            </div>
            <div id="{{$index}}" class="fluid-row"></div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>