//Using fluid as the other has fixed pixels and doesnt extend the whole screen.
//- .row-fluid.top-outline
.container
        include common_top_row        
        section
                form.form-horizontal(novalidate, name="form", ng-submit="changePassword(user)")
                        .fieldset
                                legend Change Password
                                .control-group
                                        label.control-label Current Password
                                        .controls
                                                input(type="password", placeholder="Current Password", ng-model="user.password",  name="password", required)
                                                label.help-inline.required(ng-show="form.password.$error.required") *
                                                label.help-inline.required(ng-show="form.password.$error.minlength") The minimum length is 6.
                                .control-group
                                        label.control-label New Password
                                        .controls
                                                input(type="password", placeholder="New Password", ng-model="user.newPassword", ng-minlength="6", name="newPassword", required)
                                                label.help-inline.required(ng-show="form.newPassword.$error.required") *
                                                label.help-inline.required(ng-show="form.newPassword.$error.minlength") The minimum length is 6.
                                .control-group
                                        label.control-label Confirm Password
                                        .controls
                                                input(type="password", placeholder="Confirm Password", ng-model="user.confirmPassword",  ui-validate="'$value==user.newPassword'" , ui-validate-watch="'newPassword'", ng-minlength="6", name="confirmPassword", required)
                                                label.help-inline.required(ng-show="form.confirmPassword.$error.required") *
                                                label.help-inline.required(ng-show="form.confirmPassword.$error.minlength") The minimum length is 6.
                                                label.help-inline.required(ng-show="form.confirmPassword.$error.validator") Password's do not match.
                                .form-actions
                                        input.btn.btn-primary(ng-disabled="form.$invalid",type="submit", value="Change")
                                        button.btn.btn-inverse(onClick="window.history.back()") Cancel
                                        img(ng-show="loadingChangePassword", src="/img/loader5.gif", alt="Loading...")
                                //- {{user}}