head(ng-app='angularApp', class='ng-cloak', ng-controller="MainCtrl")
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title Invoize Suite
	meta(name='description', content='')
	meta(name="viewport", content="width=device-width")
	link(rel="icon", href="favicon.ico?id=1", type="image/x-icon")
	link(rel="shortcut icon", href="favicon.ico?id=1", type="image/x-icon")
	include stylesheets
	include scripts
