!!! html
html(lang='en', ng-app='angularApp', class='ng-cloak', ng-controller="MainCtrl")
        include head
        body
                div(class="alert alert-block alert-{{flash.get().type}}", ng-show="flash.get().body")
                        h4 {{flash.get().title}}
                        p {{flash.get().body}}
                div(ng-view)
                //-  Commented for demonstration purpose
                .navbar.navbar-fixed-bottom.navbar-inverse 
                        .navbar-inner
                                .nav-collapse
                                        ui.nav
                                                li.success $state = {{$state.current.name}}
                                        ui.nav
                                                li.success $stateParams = {{$stateParams}}
                                        ui.nav
                                                li.success $route = {{$route.current.name}}
                                        ui.nav
                                                li.success $routeParams = {{$routeParams}}