.container
	.row-fluid.login-first-row
		.row-fluid
			.span4
				img(src="img/invoize-logo-green.png")
				//- .logo-large(ui-jq="lettering") 
				//- 	include config/brand
			.span8(style="align:bottom;")
				br
				br
				include login_form
		//- .row-fluid
		//- 	.span4
		//- 		img(src="img/ra.png")                                
		//- 		p.logoGrey.landingPara With configurable workflows RANALYZE gives the organization the freedom to define and associate workflows to their clients, accountypes and other configurable elements.!
		//- 	.span4
		//- 		img(src="img/rr.png")
		//- 		p.logoGrey.landingPara RateRight is the heart of Invoice-Suite and has the ability to pick rates from tariffs and apply it on your invoices, automating the entire billing process..
		//- 	.span4
		//- 		img(src="img/gv.png")
		//- 		p.logoGrey.landingPara Holds a complete repository of your invoices and the documents attached to it.Greenvoize helps you manage your invoices and can generate and transform them to any format u want..