.offset1.span8
        form.form-horizontal(novalidate, name="form")
                fieldset
                        legend Metadata
                        .fluid-row
                                .pull-right
                                        a.btn.btn-primary.btn-margin(ng-hide="metadataCreateLoader", ng-click="backToListMetadata()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply.icon-large
                                        button.btn.btn-primary(permission="createMetadata.*.*",ng-hide="metadataCreateLoader", ng-disabled="form.$invalid", type="submit", ng-click="createMetadata(metadata,$stateParams.metadataType)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok.icon-large
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="metadataCreateLoader")
                        .control-group
                                label.control-label Value
                                .controls
                                        input(type="text", name="value", duplicate="metadata", ng-model="metadata.value", placeholder="Value", required)
                                        label.help-inline.required(ng-show="form.value.$error.required") *
                                        label.help-inline.required(ng-show="form.value.$error.duplicate") Metadata exists.  
                        ng-form(name="fieldsForm", ng-repeat="row in selectedMetadataFields",ng-switch='row.t')
                                .control-group(ng-switch-when='text')
                                        label.control-label {{row.v}}
                                        .controls                                                
                                                input(type="text", name="otherFields", ng-model="metadata[row.v]", placeholder="{{row.v}}", required="{{row.m}}")                                                
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.required")*                                                
                                .control-group(ng-switch-when='email')
                                        label.control-label {{row.v}}
                                        .controls                                                
                                                input(type="email", name="otherFields", ng-model="metadata[row.v]", placeholder="{{row.v}}", required="{{row.m}}")                                                
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.required")*
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.email" ) This is not a valid email!
                                .control-group(ng-switch-when='date')
                                        label.control-label {{row.v}}
                                        .controls                                                
                                                input(type="date", data-date-format="dd-mm-yyyy", bs-datepicker='bs-datepicker', name="otherFields", ng-model="metadata[row.v]", placeholder="{{row.v}}", required="{{row.m}}" )                                                
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.required")*
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.date" ) This is not a valid date.!
                                .control-group(ng-switch-when='number')
                                        label.control-label {{row.v}}
                                        .controls                                                
                                                input(type="number",name="otherFields", ng-model="metadata[row.v]", placeholder="{{row.v}}", required="{{row.m}}" )                                                
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.required")*
                                                label.help-inline.required(ng-show="fieldsForm.otherFields.$error.email" ) This is not a valid number!


                        //- .form-actions
                        //-             button.btn.btn-primary(ng-disabled="form.$invalid", type="submit",ng-click="createMetadata(metadataType,$stateParams.metadataType)") Save
                        //-             button.btn.btn-inverse(type="submit") Cancel

                        //- {{metadata}}      