.offset1.span8
        form.form-horizontal(novalidate, name="form")
                fieldset
                        .fluid-row
                                .pull-right
                                        a.btn.btn-primary.btn-margin(ng-hide="organizationUpdateLoader", onClick="window.history.back()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply.icon-large
                                        button.btn.btn-primary(ng-hide="organizationUpdateLoader", ng-disabled="form.$invalid", ng-click="updateOrganization(org)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok.icon-large
                                        a.btn.btn-primary.btn-margin(ng-hide="organizationUpdateLoader", style="cursor: pointer;", bs-tooltip="tooltip.delete" , ng-click="confirmDeleteOrganization()")
                                                i.icon-trash.icon-large
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="organizationUpdateLoader")
                                legend Organization Details :
                        .control-group
                                label.control-label Organization
                                .controls
                                        input(type="text", name="organization", ng-model="org.organization", placeholder="Organization", required)
                                        label.help-inline.required(ng-show="form.organization.$error.required") *
                        .control-group
                                label.control-label Account Owner
                                .controls
                                        input(type="text", name="accountOwner", ng-model="org.accountOwner", placeholder="Account Owner", required)
                                        label.help-inline.required(ng-show="form.accountOwner.$error.required") *
                        .control-group
                                label.control-label Billing Owner
                                .controls
                                        input(type="text", name="billingOwner", ng-model="org.billingOwner", placeholder="Billing Owner", required)
                                        label.help-inline.required(ng-show="form.billingOwner.$error.required") *
                        .control-group
                                label.control-label Is Active
                                .controls
                                        input(type="text", name="isActive", ng-model="org.isActive", placeholder="Is Active", required)
                                        label.help-inline.required(ng-show="form.isActive.$error.required") *
                        //- .form-actions
                        //-         button.btn.btn-primary(ng-disabled="form.$invalid", type="submit",ng-click="updateOrganization(org)") Save
                        //-         button.btn.btn-inverse(type="submit") Cancel
                        //- {{org}}