.offset1.span8
        form.form-horizontal(novalidate, name="form")
                fieldset
                        .fluid-row
                                .pull-right
                                        a.btn.btn-primary.btn-margin(ng-hide="quoteDefnCreateLoader", onClick="window.history.back()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply.icon-large
                                        button.btn.btn-primary(ng-hide="quoteDefnCreateLoader", ng-disabled="form.$invalid", type="submit", ng-click="createquoteDefn(quoteDefn,$routeParams.accountId)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok.icon-large
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="quoteDefnCreateLoader")
                                legend New Quote Definition
                        .control-group
                                label.control-label Name
                                .controls
                                        input(type="text", name="name", ng-model="quoteDefn.name", placeholder="Name", required)
                                        label.help-inline.required(ng-show="form.name.$error.required") *
                        .control-group
                                label.control-label Group
                                .controls
                                        select(ui-select2, multiple="true", name="group", ng-model="quoteDefn.group",required, data-placeholder="Please select...", style="width:200px")
                                                option(ng-repeat="field in quoteDefnGroup", value="{{field.n}}") {{field.n}}                                                        
                                        label.help-inline.required(ng-show="form.group.$error.required") *
                       
                        .control-group                        
                                label.control-label Charge Type
                                .controls
                                        select(ui-select2, multiple="multiple", name="chargeType", ng-model="quoteDefn.chargeType", data-placeholder="Please select...", style="width:200px", required)
                                                option(ng-repeat="row in chargeType", value='{{row.id}}') {{row.val}}
                                        label.help-inline.required(ng-show="form.chargeType.$error.required") *
              
                        .control-group
                                label.control-label Lane Parameters
                                .controls
                                        select(ui-select2="{'closeOnSelect':false}", multiple="true", name="laneParam", ng-model="quoteDefn.laneParam",required, data-placeholder="Please select...", style="width:200px")
                                                option(ng-repeat="field in laneParameterList", value="{{field.n}}") {{field.n}}                                                        
                                        label.help-inline.required(ng-show="form.laneParam.$error.required") *
                        .control-group
                                label.control-label Effective Base
                                .controls
                                        select(ui-select2="{'closeOnSelect':false}", name="effectiveBase", ng-model="quoteDefn.effectiveBase",required, data-placeholder="Please select...", style="width:200px")
                                                option(value="")
                                                option(ng-repeat="field in quoteDefnEffectiveBase", value="{{field.n}}") {{field.n}}                                                        
                                        label.help-inline.required(ng-show="form.effectiveBase.$error.required") *
                       
                        .control-group
                                label.control-label Description
                                .controls
                                        textarea(rows=3, name="description", ng-model="quoteDefn.description", placeholder="Short Description")        