.container
        section
        section
        section
                .row
                        .span6
                                img(src="img/invoize-logo-green.png")
                        .span6
                                form.form-horizontal(ng-controller="loginCtrl")
                                fieldset.logoGrey
                                          h4 Thanks for your registration.
                                          | We have sended you confirmation mail.
                                          br
                                          | Please click on the given link in mail to confirm your registration,
                                          br
                                          | or 
                                          a click 
                                          | here to resend confirmation mail.
                .row
                        .span4
                                img(src="img/ra.png") 
                                p.logoGrey(style="margin: -70px 40px 0;") With configurable workflows RANALYZE gives the organization the freedom to define and associate workflows to their clients, accountypes and other configurable elements.!
                        .span4
                                img(src="img/rr.png") 
                                p.logoGrey(style="margin: -70px 40px 0;") RateRight is the heart of Invoice-Suite and has the ability to pick rates from tariffs and apply it on your invoices, automating the entire billing process..
                        .span4
                                img(src="img/gv.png") 
                                p.logoGrey(style="margin: -70px 40px 0;") Holds a complete repository of your invoices and the documents attached to it.Greenvoize helps you manage your invoices and can generate and transform them to any format u want..