//Using fluid as the other has fixed pixels and doesnt extend the whole screen.
//- .row-fluid.top-outline
.container-fluid
        include common_top_row
        section
                .row-fluid
                        .span2.bs-docs-sidebar(style="cursor: pointer;")
                                ul.nav.nav-list.bs-docs-sidenav
                                        input(type="text",ng-change="searchRole()", placeholder="Search", ng-model="search")
                                        li.nav-header
                                                h4(rel="tooltip") Role
                                                        .badge.label-info.pull-right(bs-tooltip="tooltip.total")  {{totalRole}}
                                                span
                                                        a.btn.btn-success.btn-mini(permission="createRole.*.*",ng-disabled="$state.includes('role.new')",href="#/role/new",bs-tooltip="tooltip.new" , ng-click="initializeRole()") 
                                                                 i.icon-plus.icon-white
                                                i.icon-spinner.icon-spin.icon-4x(ng-show="roleListLoader")
                                        ul.nav.nav-list.bs-docs-sidenav(id="Fixed", when-scrolled="loadMore()")
                                                li(ng-class="{ active: $stateParams.roleId == l.id}", ng-repeat="l in roleList")
                                                        a(ng-click="selectRole(l.id)", data-toggle="tab", href="#/role/{{l.id}}") 
                                                                i.icon-chevron-right
                                                                {{l.v|titlecase}}
                                        ul
                                                i.icon-spinner.icon-spin.icon-2x(ng-show="loadingMore")
                        .span10
                                //- .row-fluid
                                //-         a.pull-right.btn.btn-success.btn-margin(permission="createRole.*.*", href="#/role/new" , ng-click="initializeRole()")
                                //-                 i.icon-plus.icon-white
                                //-                 |  Role

                                div(ui-view="list")