.offset1.span8
        form.form-horizontal(novalidate, name="form")
                fieldset
                        .fluid-row
                                .pull-right
                                        a.btn.btn-primary.btn-margin(ng-hide="roleUpdateLoader", ng-click="backToDetails()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply.icon-large
                                        button.btn.btn-primary(permission="updateRole.*.*", ng-hide="roleUpdateLoader", ng-disabled="form.$invalid", ng-click="updateRole(role)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok.icon-large
                                        a.btn.btn-primary.btn-margin(permission="deleteRole.*.*", ng-hide="roleUpdateLoader" , ng-click="confirmDeleteRole()", style="cursor: pointer;", bs-tooltip="tooltip.delete")
                                                i.icon-trash.icon-large
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="roleUpdateLoader")
                                legend Role
                        .control-group
                                label.control-label Name
                                .controls
                                        input(type="text",  id="roleBar", name="roleName", ng-model="role.name", placeholder="Role Name", required)
                                        label.help-inline.required(ng-show="form.roleName.$error.required") *
                        .control-group
                                label.control-label Description
                                .controls
                                        textarea(rows=3, name="roleDescription", ng-model="role.description", placeholder="Role Description", required)
                        .control-group
                                label.control-label Permissions
                                .controls
                                        input.span9.roleBarselect(ui-select2="roleBar", name="roleBar", ng-model="role.definition",ng-change="showDialog(role.definition)",  select-validate,required)
                                        .help-inline.required(ng-show="form.roleBar.$error.selectvalidate || form.roleBar.$error.required") *
                        //- .form-actions
                        //-         button.btn.btn-primary(ng-disabled="form.$invalid", type="submit",ng-click="updateRole(role)") Save
                        //-         button.btn.btn-inverse(type="submit") Cancel
                        //- {{role}}