//build:js scripts/scripts.js

//remove in prod
//- script(src='/components/jquery/jquery.min.js')
script(src='/scripts/vendor/jquery.min.js')
script(src='/components/Lettering.js/jquery.lettering.js')
script(src='/scripts/vendor/jquery-ui.min.js')
script(src='/scripts/vendor/angular.js')
script(src='/scripts/vendor/angular-ui.js')
script(src='/scripts/vendor/bootstrap.min.js')
script(src='/scripts/vendor/angular-ui-states.js')
script(src='/scripts/vendor/underscore-min.js')
script(src='/scripts/vendor/angular-cookies-1.0.0rc10.js')
script(src='/scripts/vendor/angular-strap.min.js')
script(src="/scripts/vendor/toastr-1.1.5.min.js")
script(src="/scripts/vendor/select2.js")
script(src="/scripts/vendor/ui-bootstrap-tpls-0.3.0.js")
script(src="/scripts/vendor/bootstrap-datepicker.js")
script(src="/scripts/vendor/bootstrap-select.js")
script(src="http://www.google.com/jsapi")
script(src="/scripts/vendor/jFileUpload/js/vendor/jquery.ui.widget.js")
script(src="/scripts/vendor/jFileUpload/js/jquery.iframe-transport.js")
script(src="/scripts/vendor/jFileUpload/js/jquery.fileupload.js")
script(src="/scripts/vendor/jFileUpload/js/jquery.fileupload-process.js")


script(src='/scripts/app.js')
script(src='/scripts/filters.js')



script(src='/scripts/directives/permissions.js')
script(src='/scripts/directives/scroll.js')
script(src='/scripts/directives/uploadManager.js')
script(src='/scripts/directives/popover.js')
script(src='/scripts/directives/factory.js')
script(src='/scripts/directives/validations.js')
script(src='/scripts/directives/download.js')
script(src='/scripts/directives/charts.js')	

script(src='/scripts/controllers/dialog.js')
script(src='/scripts/controllers/login.js')
script(src='/scripts/controllers/account.js')
script(src='/scripts/controllers/user.js')
script(src='/scripts/controllers/organization.js')
script(src='/scripts/controllers/rate.js')
script(src='/scripts/controllers/rateRequest.js')
script(src='/scripts/controllers/main.js')
script(src='/scripts/controllers/group.js')
script(src='/scripts/controllers/workflow.js')
script(src='/scripts/controllers/role.js')
script(src='/scripts/controllers/permission.js') 
script(src='/scripts/controllers/register.js') 
script(src='/scripts/controllers/metadata.js') 
script(src='/scripts/controllers/fileUpload.js')
script(src='/scripts/controllers/tms.js')	
script(src='/scripts/controllers/uploader.js')
script(src='/scripts/controllers/m.controller.js')
script(src='/scripts/controllers/quote.js') 


script(src='/scripts/services/shared.js')
script(src='/scripts/services/workflow.js')
script(src='/scripts/services/group.js')
script(src='/scripts/services/main.js')
script(src='/scripts/services/login.js')
script(src='/scripts/services/account.js')
script(src='/scripts/services/user.js')
script(src='/scripts/services/organization.js')
script(src='/scripts/services/rate.js')
script(src='/scripts/services/rateRequest.js')
script(src='/scripts/services/role.js')
script(src='/scripts/services/flash.js')
script(src='/scripts/services/permissions.js')
script(src='/scripts/services/metadata.js')
script(src='/scripts/services/fileUpload.js')
script(src='/scripts/services/tms.js')
script(src='/scripts/services/quote.js')

//endbuild
