link(rel="stylesheet", type="text/css", href="/styles/global.css")
link(rel="stylesheet", type="text/css", href="/styles/bootstrap-responsive.css")
//- link(rel="stylesheet", type="text/css", href="/styles/todc-bootstrap.css")
//- link(rel="stylesheet", type="text/css", href="/styles/docs.css")

//- link(rel="stylesheet", type="text/css", href="/components/angular-ui/build/angular-ui.css")

//- link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Cantata+One")
//- link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Muli")
	
//- link(rel="stylesheet", type="text/css", href='/styles/test.css')
//- link(rel="stylesheet", type="text/css", href='/styles/toastr.css')

//- link(rel="stylesheet", type="text/css", href="/styles/select2.css")
//- link(rel="stylesheet", type="text/css", href='/scripts/vendor/jquery-ui.css')
