.offset1.span8
        form.form-horizontal(novalidate, name="form")
                .fieldset
                        .fluid-row
                                .pull-right
                                        a.btn.btn-primary.btn-margin(ng-hide="workflowUpdateLoader", ng-click="backToList()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply.icon-large
                                        button.btn.btn-primary(permission="createWorkflow.*.*", ng-hide="workflowUpdateLoader", ng-disabled="form.$invalid", type="submit",ng-click="create(workflow)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok.icon-large
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="workflowUpdateLoader")
                        legend Workflow
                        .control-group
                                label.control-label Workflow Name
                                .controls
                                        input(type="text", name="workflowName", duplicate="workflow", ng-model="workflow.name", placeholder="Workflow Name", required)
                                        label.help-inline.required(ng-show="form.workflowName.$error.required") *
                                        label.help-inline.required(ng-show="form.workflowName.$error.duplicate") Workflow exists.
                        .control-group
                                label.control-label Workflow Definition
                        ng-form(name="WorkflowDefinitionsForm", ng-repeat="row in workflowDefinitions")
                                .control-group
                                        label.control-label
                                                span.label.label-inverse Level {{$index + 1}}
                                                br
                                                span(ng-show="workflow.definition[$index].length > 1",id="workflowLevel{{$index}}")
                                                    .label.label-warning.help-inline(style='cursor: pointer;', onclick='toggle(this,{{$index}})',count="*") All
                                                    .label.label-warning.help-inline(ng-repeat="r in workflow.definition[$index] | limitTo:workflow.definition[$index].length-1" , style='cursor: pointer;display: none;', onclick='toggle(this,{{$parent.$index}})',count="{{$index+1}}") Any {{$index + 1}}
                                        
                                        input.span9(ui-select2="userGroupBar", name="workflowDefinition", ng-click="workflowDefinitionsCallback($index)", ng-model="workflow.definition[$index]",id="workflowId{{$index+1}}",  select-validate, required)
                                        .help-inline
                                                a.close(ng-hide="workflowDefinitions.length == 1", ng-click="removeFromWorkflowDefinitions($index)") &times;
                                        label.help-inline.required(ng-show="WorkflowDefinitionsForm.workflowDefinition.$error.selectvalidate || WorkflowDefinitionsForm.workflowDefinition.$error.required") *
                        //- .form-actions
                        //-         button.btn.btn-primary(ng-disabled="form.$invalid", type="submit",ng-click="create(workflow)") Save
                        //-         button.btn.btn-inverse(type="submit") Cancel

            //- {{workflow}}
