
<div ng-show="$state.current.name.split('.')[0]=='wizard'" class="row in-wiz-ttl">
  <div class="col-md-9 col-sm-8">
    <div class="in-wiz-info">Welcome to company configuration. You can add / configure / edit your companies here. You can also arrange the companies as per the company hierarchy in your organization.</div>
  </div>
  <div class="col-md-3 col-sm-4 in-add"><i ng-show="companyCreateLoader" class="icon-spinner icon-spin blue icon-large"></i><a permission="editTemplateCompany" ng-click="openDialog(companyData)" href="javascript:void(0)"><span class="in-add-sign">+</span><span class="in-add-txt">Add / modify fields</span></a></div>
</div>
<div ng-hide="$state.current.name.split('.')[0]=='wizard'" set-width="set-width" class="row in-wiz-ttl in-fix-scroll">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="pull-left">
      <div class="in-wiz-info">New Company</div>
    </div>
    <div class="pull-right"><i ng-show="companyCreateLoader" class="icon-spinner icon-spin blue icon-large"></i><a permission="editTemplateCompany" ng-click="openDialog(companyData)" href="javascript:void(0);" style="margin-right:15px"><span class="in-add-sign">+</span><span class="in-add-txt">Add / Modify Fields</span></a><a permission="listCompany" ng-click="redirectTo('/company/view')" class="inz-btn btn-sm btn-default">Cancel</a>
      <button permission="createCompany" type="submit" ng-class="{'disabled': mainForm2.$invalid}" ng-disabled="mainForm2.$invalid" ng-click="create(companyData)" class="inz-btn btn-sm btn-success">Save Changes</button>
    </div>
  </div>
</div>
<div style="clear:both;"></div>
<div ng-init="initialize()">
  <form name="mainForm2" ng-submit="submitAll()" novalidate="novalidate">
    <div ng-repeat="item in companyData.fields | orderBy:'displayOrder'" ng-form="subForm" ng-show="{{item.isActive}}" ng-switch="{{item.isActive}}" class="col-md-6 col-sm-12 col-xs-12">
      <label class="input-medium">{{item.label}}</label>
      <label ng-switch-when="true" ng-switch="item.type">
        <input ng-switch-when="text" unique="{{item.key}},{{item.isUniqueField}},company" type="text" ng-pattern="{{item.regex}}" ng-required="item.isMandatory" ng-maxlength="{{item.length}}" name="name" ng-model="item.value" ng-trim="ng-trim" toolTip="{{item.toolTip}}" ng-readonly="{{item.isReadonly}}" class="input-large"/>
        <input ng-switch-when="date" datepicker-popup="{{format}}" min="'2013-12-16'" max="'2013-12-26'" datepicker-options="dateOptions" name="name" type="text" ng-model="item.value" is-open="opened" ng-required="item.isMandatory" close-text="Close" toolTip="{{item.toolTip}}" ng-readonly="{{item.isReadonly}}" class="input-large"/>
        <input ng-switch-when="numeric" unique="{{item.key}},{{item.isUniqueField}},company" type="number" ng-pattern="{{item.regex}}" ng-required="item.isMandatory" ng-maxlength="{{item.length}}" name="name" ng-model="item.value" ng-trim="ng-trim" toolTip="{{item.toolTip}}" ng-readonly="{{item.isReadonly}}" class="input-large"/>
        <dynamic-Select ng-switch-when="multiselect" multiselect="multiselect" ng-required="item.isMandatory" name="name" ng-model="item.value" ph="{{item.suggestionsSource}}" toolTip="{{item.toolTip}}" ng-readonly="{{item.isReadonly}}" placeholder="{{item.toolTip}}" class="input-large"></dynamic-Select>
        <dynamic-Select ng-switch-when="dropdown" customobj="{&quot;childCompany&quot;:&quot;&quot;}" ng-required="item.isMandatory" name="name" ng-model="item.value" ph="{{item.suggestionsSource}}" toolTip="{{item.toolTip}}" ng-readonly="{{item.isReadonly}}" placeholder="{{item.toolTip}}" class="input-large"></dynamic-Select>
        <textarea ng-switch-when="multiline" columns="5" rows="3" ng-pattern="{{item.regex}}" ng-required="item.isMandatory" ng-maxlength="{{item.length}}" name="name" ng-model="item.value" ng-trim="ng-trim" toolTip="{{item.toolTip}}" ng-readonly="{{item.isReadonly}}" class="input-large"></textarea><span ng-show="subForm.name.$error.required" class="red">*</span><span ng-show="subForm.name.$error.unique" class="red">already Exists</span><span ng-show="subForm.name.$error.number" class="red">only numbers</span><span ng-show="subForm.name.$error.date" class="red">only date</span><span ng-show="subForm.name.$error.maxlength" class="red">max length is {{item.length}}</span><span ng-show="subForm.name.$error.pattern" class="red">Can contain only text</span><span ng-show="subForm.name.$valid" class="green validTick">&#10004;</span>
      </label>
    </div>
    <div class="in-wiz-footer"><a permission="listCompany" ng-click="redirectTo('/company/view')" class="inz-btn btn-sm btn-default">Cancel</a>
      <button permission="createCompany" type="submit" ng-class="{'disabled': mainForm2.$invalid}" ng-disabled="mainForm2.$invalid" ng-click="create(companyData)" class="inz-btn btn-sm btn-success">Save Changes</button>
    </div>
  </form>
</div>