
<div style="width:600px" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" type="button" ng-click="close()" class="close">    &times;                            </button>
      <h4 class="modal-title">Select single account</h4>
    </div>
    <div class="modal-body">
      <div class="modal-msg">{{item.msg?item.msg:'Are you sure?'}}</div>
    </div>
    <div class="modal-footer">                      
      <button ng-click="close()" class="inz-btn btn-sm btn-default">OK</button>
    </div>
  </div>
</div>