
<div class="modal-dialog container">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" type="button" ng-click="close()" class="close">    &times;</button>
      <h4 class="modal-title">DashBoard Data &nbsp;</h4>
    </div>
    <div class="modal-body">
      <div class="ee">In DB: {{abc}}</div>
      <table border="1" style="border-collapse:collapse" class="inz-table">
        <thead>
          <th class="center">Hawb</th>
          <th class="center">Invoice</th>
          <th class="center">Status</th>
          <th class="center">Visibility Source</th>
          <th class="center">Issue Category</th>
          <th class="center">Age</th>
          <th class="center">Party</th>
          <th class="center">Rating Station</th>
          <th class="center">Region</th>
          <th class="center">Consignee</th>
          <th class="center">Bill Amount</th>
          <th class="center">Issue Resolved Agegroup</th>
        </thead>
      </table>
      <div class="col-xs-12 space"></div>
    </div>
    <div class="modal-footer">
      <p class="inz-btn btn-sm btn-success pull-left">modal-footer</p>
      <button ng-click="close()" class="inz-btn btn-sm btn-default">Close</button>
    </div>
  </div>
</div>