
<div ng-show="deliveryData.length==0" class="row">
  <div class="in-gs-block">
    <div ng-hide="showGoBtn" class="gs-sub-title">Choose Account & Hit Search&nbsp;<i class="fa fa-search"></i></div>
    <div ng-show="showGoBtn" class="gs-sub-title">No Data available &nbsp;<span ng-show="form.companyType.$error.required" class="help-inline required">&nbsp;&nbsp;*</span></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div style="padding:2px 2px;" class="overflow-auto">
      <table ng-show="deliveryData.length" class="inz-table inz-table2">
        <thead>
          <tr>
            <th><span tooltip="Expand/Collapse"><i class="fa fa-align-justify"></i></span></th>
            <th><span>
                <input tooltip="Select All" type="checkbox" ng-click="checkAll($event)"/></span></th>
            <th ng-repeat="val in deliveryData[0]" ng-show="$index &gt;1"><span tooltip="{{val |toHumanReadable}}" class="trim-info-large">{{val | toHumanReadable}}</span></th>
          </tr>
        </thead>
        <tbody ng-repeat="row in deliveryData" ng-show="$index &gt; 0">
          <tr ng-click="isRowCollapsed[$index]=!isRowCollapsed[$index]" style="cursor: pointer;">
            <td ng-repeat="col in row track by $index" ng-show="$index==0" ng-click="getEDIInvoiceInfo($parent.$index,row[1])">
              <div ng-hide="row.dataPresent"><i ng-show="row.doc" class="icon-reorder blue"></i><i ng-hide="row.doc" class="icon-reorder orange"></i></div><i ng-show="row.dataPresent" class="icon-spinner icon-spin blue icon small"></i>
            </td>
            <td ng-repeat="col in row track by $index" ng-show="$index==0">
              <input name="chk_{{$parent.$index}}" type="checkbox" ng-click="updateSelection($event,row[1],row[2],$parent.$index)"/>
            </td>
            <td ng-repeat="col in row track by $index" ng-show="$index&gt;1"><span tooltip="{{col}}" class="trim-info-large">{{col}}
                <tr ng-show="!isRowCollapsed">
                  <td colspan="{{row.length}}" class="inset">
                    <div class="col-md-12">
                      <table ng-show="deliveryData[$index].doc.length" class="inz-table inz-table5">
                        <thead>
                          <tr>
                            <th ng-repeat="val1 in deliveryData[$index].doc[0]" ng-show="$index&gt;0"><span tooltip="{{val1 |toHumanReadable}}" class="trim-info-large">{{val1 | toHumanReadable}}</span></th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="rowInvoice in deliveryData[$index].doc" ng-show="$index &gt; 0">
                          <tr>
                            <td ng-repeat="colInvoice in rowInvoice track by $index" ng-show="$index&gt;0"><span tooltip="{{colInvoice}}" class="trim-info-large">{{colInvoice}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr></span></td>
          </tr>
        </tbody>
      </table>
      <pagination ng-hide="deliveryData.length==0" total-items="totalItems" items-per-page="pageLimit" page="currentPage" on-select-page="setPage($parent.currentPage)" boundary-links="true" class="pagination-small"></pagination>
    </div>
  </div>
</div>