
<!--Created by kamalsingh.saini on 11/3/14.-->
<div ng-show="dialog" class="row">
  <div class="col-sm-12 col-md-12 col-xs-12">
    <!--div.modal.fade.in(style="overflow:auto;width:100%;opacity: 0.5;height:100%;background-color: gray;top: 0;top:0;left: 0;z-index: 1050;")-->
    <div class="modal-dialog modal">
      <div style="margin: 0 auto;width: 80%;" class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" type="button" ng-click="close()" class="close">    &times;</button>
          <h4 ng-show="modelType == 'summary'" class="modal-title">Issue Summary &nbsp;</h4>
          <h4 ng-hide="modelType == 'summary'" class="modal-title">Upload / Download documents &nbsp;<i ng-show="templateLoader" class="icon-spinner icon-spin icon-large"></i></h4>
        </div>
        <div class="modal-body">
          <div style="max-height:400px" ng-show="modelType == 'summary'" class="overflow-auto">
            <table class="table-hawb">
              <thead>
                <tr>
                  <th ng-repeat="(k,v) in summaryData[0]">{{v}}</th>
                  <th>Files</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in summaryData[1]">
                  <td ng-repeat="(key,col) in summaryData[0]">{{row[key]}}</td>
                  <td><a href="/api/tms/download/file?id={{file.id}}" ng-repeat="file in row['IMSfiles']" target="_blank" style="cursor:pointer;" class="blue"><i class="fa fa-download">&nbsp;</i>{{file.name}}<br/></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div ng-hide="modelType == 'summary'">
            <div id="newFiles" ng-controller="FileUploadController" url="/api/tms/upload/file">
              <form data-upload-template-id="template-upload-1" method="POST" action="/api/tms/upload/file" enctype="multipart/form-data" data-ng-app="angularApp" data-file-upload="options" class="fileupload fileUps">
                <div bs-tooltip="tooltip.drop" id="drop-area">
                  <div bs-tooltip="tooltip.attach" class="fileinput-button btn-file">
                    <input type="file" id="files-upload" name="file" multiple="multiple"/><i class="icon-cloud-upload"></i>
                  </div>
                  <div class="drop-instructions">
                    <mute> Browse and upload multiple files or drag and drop files here</mute>
                  </div>
                  <div class="drop-over">Drop files here!</div>
                </div>
                <div ng-hide="proceedClicked" class="row uploaded">
                  <div data-ng-repeat="file in queue" class="file"><span ng-class="file.class" class="file-name"><a style="cursor: pointer;" bs-tooltip="tooltip.download" target="_blank" href="{{$location.host()}}/api/tms/download/file?id={{file.id}}" download="{{file.name}}">{{file.name}} &nbsp</a><i data-dismiss="alert" ng-click="callRemoveNewDocumentId(file.id)" bs-tooltip="tooltip.delete" style="cursor: pointer;" class="fa fa-times-circle ico-dismis"></i></span></div>
                  <button type="submit" ng-click="proceed()" ng-show="docExist" class="inz-btn btn-sm btn-success pull-right">Proceed &nbsp;<i class="fa fa-long-arrow-right"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--button.inz-btn.btn-sm.btn-success(ng-click="addKeys($event.currentTarget)") Add Keys-->
          <!--button.inz-btn.btn-sm.btn-default(ng-click="close();") Cancel-->
        </div>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;"></div>
<div set-width="set-width" class="row in-wiz-ttl in-fix-scroll">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="pull-left">
      <div class="in-wiz-info">Issue Management System</div>
    </div>
    <div class="pull-right"><i ng-show="loader" class="icon-spinner icon-spin blue icon-large"></i>
      <input placeholder="Search Issue(s)" ng-model="q" class="input-search-new"/>
      <button class="input-search-new"><i class="fa fa-search"></i></button>
      <div ng-show="templateData.fields.length" class="btn-group filter-dd rule-filter">
        <button class="command dropdown-toggle"><i class="fa fa-caret-down"></i></button>
        <ul aria-labelledby="btnGroupVerticalDrop1" role="menu" class="dropdown-menu filter-ddm arrow-right dropdown-caret">
          <div class="showme overflow-auto">
            <li>
              <div ng-repeat="(k,obj) in fields" ng-switch="lb.type">
                <div class="opt-title">{{obj.label}}</div>
                <input ng-switch-when="date" datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" type="text" ng-model="obj.val" close-text="Close" placeholder="{{obj.label}}" class="input-large"/>
                <dynamic-Select ng-switch-default="ng-switch-default" multiselect="multiselect" name="{{k}}" ng-model="obj.val" ph="ims" customobj="{&quot;column&quot;:&quot;{{k}}&quot;,&quot;module&quot;:&quot;{{templateData.module.v}}&quot;,&quot;templateId&quot;:&quot;{{templateData.templateId}}&quot;,&quot;currentContext&quot;:&quot;{{$state.$current.context.product}}.ims&quot;}" placeholder="{{obj.label}}" class="input-large"></dynamic-Select>
              </div>
            </li>
          </div>
          <div class="opt-cmd">
            <div style="padding:2px 0;">
              <button ng-click="resetFilter()" class="inz-btn btn-xs btn-default">Reset</button>
              <button ng-click="applyFilter()" class="inz-btn btn-xs btn-success">Apply</button>
            </div>
          </div>
        </ul>
      </div>
      <div style="vertical-align: inherit;" class="btn-group">
        <button data-toggle="dropdown" type="button" class="btn-sm dropdown-toggle btn-custom">
          <!--i.fa.fa-dashboard-->   Choose Profile &nbsp;<i class="fa fa-angle-down"></i>
        </button>
        <ul aria-labelledby="btnGroupVerticalDrop1" role="menu" style="left: auto; right: 0;" class="dropdown-menu filter-ddm arrow-right dropdown-caret">
          <li>
            <div class="col-sm-12">
              <label class="control-label">Module :
                <div class="controls">
                  <select ui-select2="ui-select2" ng-required="true" name="Module" ng-model="templateData.module" data-placeholder="Module" ng-change="getTemplate()" ng-options="module.n for module in modules" class="input-large text-left">
                    <option value=""></option>
                    <!--option(value="{{module.id}}",ng-repeat="module in modules") {{module.n}}-->
                  </select>
                </div>
              </label>
            </div>
            <div class="col-sm-12">
              <label class="control-label">Process :
                <div class="controls">
                  <select ui-select2="ui-select2" ng-required="true" name="process" ng-model="templateData.process" data-placeholder="Process" ng-change="getTemplate()" class="input-large text-left">
                    <option value=""></option>
                    <option value="{{process.id}}" ng-repeat="process in processes">{{process.n}}</option>
                  </select>
                </div>
              </label>
            </div>
            <div class="col-sm-12">
              <label class="control-label">Profile Type :
                <div class="controls">
                  <select ui-select2="ui-select2" ng-required="true" name="type" ng-model="templateData.docType" data-placeholder="Profile Type" ng-change="getTemplate()" class="input-large text-left">
                    <option value=""></option>
                    <option value="IMSRaiseProfile" permission="ims.RaiseIssueIMS">Raise</option>
                    <option value="IMSResponseProfile" permission="ims.ResponseIssueIMS">Response</option>
                  </select>
                </div>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <label style="margin-bottom:0;" ng-if="templateData.docType == 'IMSRaiseProfile'" permission="ims.addIssueIMS">
        <input type="checkbox" name="switch-field-1" ng-click="switchMode($event)" ng-required="false" text-on="Add" class="ace ace-switch ace-switch-addUpdate"/><span class="lbl"></span>
      </label><a ng-click="editTemplate();" href="javascript:void(0)" permission="ims.EditTemplateIMS" ng-show="templateData.process &amp;&amp; templateData.docType"><span class="in-add-sign">+</span><span class="in-add-txt">Add / Edit Fields</span></a>
      <button type="submit" ng-click="saveIssues()" permission="ims.EditIssueIMS" class="btn-sm btn-success-1">Save Changes</button>
    </div>
  </div>
</div>
<div ng-show="!templateLoader" style="padding-top:47px;" class="row">
  <div ng-show="templateData.fields.length&gt;0" class="col-sm-12 col-xs-12 col-md-12">
    <div ui-handsontable="{ currentRowClassName: &quot;currentRow&quot;,currentColClassName: &quot;currentCol&quot;}" afterCreateRow="onRowCreate" rowHeaders="rowNos" height="hh" width="hw" datarows="issue in issues" manualColumnResize="true" columns="columns" minsparerows="spareRow" afterRender="afterRender()" onBeforeChange="celChange" columnSorting="true"></div>
    <pagination total-items="totalItems" items-per-page="pageLimit" max-size="paginationSize" rotate="true" ng-init="paginationSize=20" page="currentPage" on-select-page="setPage($parent.currentPage)" boundary-links="true" class="pagination-small"></pagination>
  </div>
  <div ng-show="templateData.fields.length==0" class="col-sm-12 col-xs-12 col-md-12">
    <h4 class="orange">Template Not Found :(</h4>
  </div>
</div>