
<form novalidate="novalidate" name="form"></form>
<div ng-init="setPreData();" class="row">
  <div class="col-xs-12">
    <div class="doc-block">
      <div class="title strip">Delivery Details</div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group non-valid form-section"><span class="input-group-addon">Name</span>
          <input placeholder="Name" ng-model="data.invoicedelivery.name" type="text" ng-required="true" name="invoicedeliveryName"/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group"><span class="input-group-addon">Party</span>
          <select ui-select2="ui-select2" data-placeholder="Select" ng-model="data.invoicedelivery.deliveryParty" ng-required="false" class="wd185">
            <option value="{{key}}" ng-repeat="(key,val) in deliveryParty">{{val}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group non-valid form-section"><span class="input-group-addon">Party Name</span>
          <input placeholder="Delivery Party Name" ng-model="data.invoicedelivery.deliveryPartyName" type="text" ng-required="true" name="invoicedeliveryPartyName"/>
          <!--span(ng-show="form.invoicedeliveryPartyName.$error.required") *-->
          <!--span.green.validTick(ng-show="form.invoicedeliveryPartyName.$valid") &#10004;-->
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pull-right in-add">
          <div style="vertical-align: inherit;" class="btn-group pull-right">
            <button data-toggle="dropdown" type="button" tooltip="Configuration Mode" tooltip-placement="top" class="btn-sm btn-ico btn-custom dropdown-toggle arrow-right"><i class="fa fa-angle-down"></i>&nbsp; Mode</button>
            <ul aria-labelledby="btnGroupVerticalDrop1" role="menu" class="dropdown-menu filter-ddm arrow-right dropdown-caret">
              <li>
                <table>
                  <tbody>
                    <tr ng-repeat="type in data.profileBase">
                      <td style="padding:0px 10px;">{{type.label}}</td>
                      <td>
                        <dynamic-Select name="TypeValue_{{$index}}" ng-model="type.value" ph="{{type.suggestionsSource}}" placeholder="Please Select"></dynamic-Select>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>