
<div class="col-md-8">
  <table ng-show="invoiceCaptureData[$index].doc.length" class="inz-table inz-table5">
    <thead>
      <tr>
        <th ng-repeat="val1 in invoiceCaptureData[$index].doc[0]" ng-show="$index&gt;1"><span tooltip="{{val1 |toHumanReadable}}">{{val1 | toHumanReadable}}</span></th>
      </tr>
    </thead>
    <tbody ng-repeat="rowCharge in invoiceCaptureData[$index].doc" ng-show="$index &gt; 0">
      <tr>
        <td ng-repeat="colCharge in rowCharge track by $index" ng-show="$index&gt;1"><span tooltip="{{colCharge}}">{{colCharge}}</span></td>
      </tr>
    </tbody>
  </table>
</div>