
<div ng-show="$state.current.name.split('.')[0]=='wizard'" class="row in-wiz-ttl">
  <div class="col-md-9 col-sm-8">
    <div class="in-wiz-info">Welcome to operations configurations. You can add / configure / edit the operations that you perform. You can also create hierarchies of the operations. Creating operations profiles would give you an ease of managing these operations.</div><i ng-show="templateLoader" class="icon-spinner icon-spin blue icon-large"></i>
  </div>
  <div class="col-md-3 col-sm-4 in-add"></div>
</div>
<div style="background:#eee;" ng-hide="$state.current.name.split('.')[0]=='wizard'" class="row in-wiz-ttl in-fix-scroll">
  <div class="col-xs-12 in-add">
    <div class="pull-left in-wiz-info">New Operation</div><i ng-show="templateLoader" class="icon-spinner icon-spin blue icon-large"></i><a ng-click="redirectTo('/operation/view')" class="inz-btn btn-sm btn-default">Cancel</a>
    <button type="submit" ng-class="{'disabled': form.$invalid}" ng-disabled="form.$invalid" ng-click="createOperation(operation)" class="inz-btn btn-sm btn-success">Save Changes</button>
  </div>
</div>
<div>
  <form name="form" novalidate="novalidate" ng-init="operation={}">
    <div class="in-wiz-row">
      <label class="control-label">Operation Profile Name                   </label>
      <div class="controls">
        <input type="text" name="operationName" duplicate="operationProfile" ng-model="operation.profileName" placeholder="Operation Profile Name" required="required" ng-pattern="/^[a-zA-Z0-9]+$/" ng-trim="ng-trim" ng-maxlength="256"/><span ng-show="form.operationName.$error.required" class="help-inline required">*</span><span ng-show="form.operationName.$valid" class="validTick">&#10004;</span><span ng-show="form.operationName.$error.duplicate">Operation Profile exists.</span><span ng-show="form.operationName.$error.maxlength">Maximum length 256.</span><span ng-show="form.operationName.$error.pattern">only Alphanumeric characters.                                       </span>
      </div>
    </div>
    <div class="in-wiz-row">
      <label class="control-label">Attach System</label>
      <div class="controls">
        <dynamic-Select required="required" multiselect="multiselect" enterchoice="enterchoice" quickcreation="quickcreation" name="systemList" ng-model="operation.systemList" ph="unlinkedOperationSystem" data-placeholder="Enter System">                                      </dynamic-Select><span ng-show="form.systemList.$error.required">*</span><span ng-show="form.systemList.$valid" class="validTick">&#10004;</span>
      </div>
    </div>
    <div class="in-wiz-footer">   <a href="#/wizard/location/view" class="inz-btn btn-sm btn-danger"><i class="fa fa-long-arrow-left">    </i> Previous Step</a><a href="#/wizard/operation/view" class="inz-btn btn-sm btn-default">Cancel    </a>
      <button type="submit" ng-disabled="form.$invalid" ng-class="{'disabled': form.$invalid}" ng-click="createOperation(operation)" class="inz-btn btn-sm btn-success">Save Changes</button>
    </div>
  </form>
</div>