
<div class="col-md-10">
  <h5 ng-show="quotesAvailable">Couldn't find quotes for this search <i class="icon-frown"> </i></h5>
  <div id="FixedRate" when-scrolled="loadMore($stateParams.accountId,$stateParams.templateId)">
    <div style="opacity: 1;" class="widget-box">
      <div class="widget-header header-color-green">
        <h5 class="bigger lighter"><i class="icon-table"></i>Available Quotes                              </h5>
      </div>
      <div class="widget-body">
        <div class="widget-main no-padding">
          <table ng-show="list.length" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>                                           </th>
                <th ng-repeat="charge in list[0]" ng-show="$index &gt; 1"> <span tooltip="{{charge |toHumanReadable}}" class="trim-info-large">{{charge | toHumanReadable}}</span></th>
              </tr>
            </thead>
            <tbody ng-repeat="data in list" ng-show="$index &gt; 0">
              <tr ng-click="isRowCollapsed=!isRowCollapsed" style="cursor: pointer;">
                <td class="center"><i ng-show="isRowCollapsed" class="icon-chevron-down green">                                          </i><i ng-hide="isRowCollapsed" class="icon-chevron-up green">   </i></td>
                <td ng-repeat="d in data" ng-show="$index &gt; 1"><span ng-hide="$index==3" tooltip="{{d |toHumanReadable}}" class="trim-info-large">{{d |toHumanReadable}} </span><span ng-show="$index==3 &amp;&amp; d=='0'" class="small label label-orange">Inactive</span><span ng-show="$index==3 &amp;&amp; d=='1'" class="small label label-success">Active</span></td>
              </tr>
              <tr ng-hide="isRowCollapsed">
                <td colspan="{{data.length}}" class="alert-block alert-success">                                                                                                      
                  <div ng-repeat="row in data" ng-show="$index==6">
                    <div class="col-md-4">
                      <div class="widget-box transparent">
                        <div class="widget-header widget-header-flat">
                          <h5 class="smaller lighter grey">Charge Breakdown
                          </h5>
                          <div class="widget-toolbar">
                          </div>
                        </div>
                        <div class="widget-body">
                          <div class="widget-main no-padding">
                            <table class="table table-striped table-bordered table-hoverd">
                              <tbody ng-repeat="chargeDetail in row">
                                <tr ng-repeat="weightBrackets in chargeDetail[2]"> 
                                  <td>{{chargeDetail[0]}}</td>
                                  <td class="hidden-phone"><span class="label label-info arrowed-right arrowed-in">{{chargeDetail[1]}}</span></td>
                                  <td>                                                                                                           <b class="green">{{weightBrackets[2]}} {{weightBrackets[3]}}</b></td>
                                </tr>
                              </tbody>
                            </table>
                          </div><!--/widget-main-->
                        </div><!--/widget-body-->
                      </div><!--/widget-box-->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset5"><i ng-show="loadingQuotes" class="icon-spinner icon-spin icon-2x"></i></div>
  </div>
</div>