
<div class="page-header">   </div>
<div class="row">
  <div class="col-xs-12">
    <form novalidate="novalidate" name="form" class="form-horizontal">
      <fieldset>
        <div class="fluid-row">
          <legend>Role
            <div class="btn-group pull-right"><a ng-hide="roleUpdateLoader" ng-click="backToDetails()" style="cursor: pointer;" bs-tooltip="tooltip.back" class="btn btn-small btn-primary btn-margin"><i class="icon-mail-reply icon-large"></i></a>
              <button permission="updateRole.*.*" ng-hide="roleUpdateLoader" ng-disabled="form.$invalid" ng-click="updateRole(role)" style="cursor: pointer;" bs-tooltip="tooltip.save" class="btn btn-small btn-primary btn-margin"><i class="icon-ok icon-large">                                               </i></button><a permission="deleteRole.*.*" ng-hide="roleUpdateLoader" ng-click="confirmDeleteRole()" style="cursor: pointer;" bs-tooltip="tooltip.delete" class="btn btn-small btn-primary btn-margin"><i class="icon-trash icon-large"></i></a><i ng-show="roleUpdateLoader" class="icon-spinner icon-spin icon-2x"></i>
            </div>
          </legend>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Name</label>
          <div class="col-sm-9"> 
            <input type="text" id="roleBar" name="roleName" ng-model="role.name" placeholder="Role Name" required="required"/>
            <label ng-show="form.roleName.$error.required" class="help-inline required">*</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Description</label>
          <div class="col-sm-9"> 
            <textarea rows="3" name="roleDescription" ng-model="role.description" placeholder="Role Description" required="required"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right">Permissions</label>
          <div class="col-sm-9"> 
            <input ui-select2="roleBar" name="roleBar" ng-model="role.definition" ng-change="showDialog(role.definition)" select-validate="select-validate" required="required" class="input-xxlarge roleBarselect"/>
            <div ng-show="form.roleBar.$error.selectvalidate || form.roleBar.$error.required" class="help-inline required">*</div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>