
<div class="col-xs-12">
  <div class="modal-dialog small">
    <div class="modal-content">
      <form name="form" novalidate="novalidate">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" type="button" ng-click="close()" class="close">    &times;</button>
          <h4 class="modal-title">Invoice Details<i ng-show="loader" class="icon-spinner icon-spin white icon-large"></i></h4>
        </div>
        <div class="modal-body">
          <div ui-handsontable="{rowHeaders: true, currentRowClassName: &quot;currentRow&quot;,currentColClassName: &quot;currentCol&quot;}" height="auto" datarows="data in datas" columns="dlgColumns" manualColumnResize="true" minsparerows="1" contextMenu="false" onBeforeChange="celChange" ng-init="getTemplate()"></div>
          <div style="clear:both;height:20px;"></div>
          <button ng-click="close()" class="inz-btn3 btn-sm btn-default">Cancel</button>
          <button ng-class="{'disabled': form.$invalid}" ng-click="saveData()" ng-disabled="form.$invalid" class="inz-btn3 btn-sm btn-success">Save</button>
          <button ng-class="{'disabled': datas.length&lt;=1}" ng-disabled="datas.length&lt;=1" ng-click="deleteAllData()" class="inz-btn3 btn-sm btn-success">Delete All</button>
        </div>
      </form>
    </div>
  </div>
</div>