
<!-- Created by kamalsingh.saini on 19-Sep-14.-->
<div set-width="set-width" ng-init="initMetaInfo('tariffLane')" class="row in-wiz-ttl in-fix-scroll">
  <div class="col-xs-12 col-md-12 col-sm-12">
    <div class="pull-left">
      <div class="in-wiz-info">Tariff Lanes</div>
    </div>
    <div class="pull-right"><i ng-show="Loader" class="icon-spinner icon-spin blue icon-large"></i>
      <!--dynamic-Select(name="accountGrouplist",ng-model="global.accountGroup",ph="accountGroup",change="setAccounts(global.accountGroup,true)",customobj='{"currentContext":"{{$state.$current.context.product}}.tariffLane","systemId":"{{loggedInUser.userSystem[0].id}}"}',toolTip="Account Group",placeholder="Search by Account Group")-->
      <!--dynamic-Select(name="accountNumberlist",ng-model="global.account1",ng-disabled="isGroupSelected" ,ph="account",change="setAccounts(global.account1,false)",customobj='{"currentContext":"{{$state.$current.context.product}}.tariffLane","systemId":"{{loggedInUser.userSystem[0].id}}"}',toolTip="Account Number",placeholder="Search by Account")-->
      <dynamic-Select name="accountNumberlist" ng-model="global.account" ng-disabled="isGroupSelected" ph="account" change="setAccounts(global.account,false)" customobj="{&quot;currentContext&quot;:&quot;{{$state.$current.context.product}}.tariffLane&quot;,&quot;systemId&quot;:&quot;{{loggedInUser.userSystem[0].id}}&quot;}" toolTip="Account Number" placeholder="Search by Account"></dynamic-Select>
      <button ng-click="quickSearch(currentPage,true,'tariffLane')" ng-show="global.account.length || global.accountGroup.length" class="input-search-new1"><i class="fa fa-search"></i></button>
      <!--.btn-group.filter-dd.rule-filter(ng-show="tariffList.length>0")-->
      <!--    button.btn-sm.btn-ico.btn-custom.dropdown-toggle(data-toggle='dropdown', type='button')-->
      <!--        i.fa.fa-filter-->
      <!--        |  Filter &nbsp;-->
      <!--        i.fa.fa-angle-down-->
      <!--    div.dropdown-menu.filter-ddm.arrow-right.dropdown-caret(aria-labelledby='btnGroupVerticalDrop1', role='menu',style="white-space: nowrap;")-->
      <!--        div.showme.custom-filter-display.overflow-auto-->
      <!--            li(ng-repeat="f in sortedFields" ,ng-switch="fields[f].type")-->
      <!--                .opt-title {{fields[f].label}}-->
      <!--                input.input-large(ng-switch-when="date", datepicker-popup="yyyy-MM-dd",datepicker-options="dateOptions",type="text",ng-model="fields[f].val",close-text="Close",placeholder="{{fields[f].label}}", )-->
      <!--                dynamic-Select(ng-switch-default,name="{{fields[f]}}",ng-model="fields[f].val",customobj="{{custObj[fields[f].label]}}",ph="{{fields[f].autoSuggestSource}}",placeholder="{{fields[f].label}}")-->
      <!--            //- li(ng-repeat="(k,lb) in fields",ng-switch="lb.type" )-->
      <!--            //-   .opt-title {{lb.label}}-->
      <!--            //-   input.input-large(ng-switch-when="date", datepicker-popup="yyyy-MM-dd",datepicker-options="dateOptions",type="text",ng-model="lb.val",close-text="Close",placeholder="{{lb.label}}", )-->
      <!--            //-   dynamic-Select(ng-switch-default,multiselect,name="{{k}}",ng-model="lb.val",ph="{{autosuggestSource=='location'?'Location':autosuggestSource}}",customobj="{{custObj[lb.label]}}",placeholder="{{lb.label}}")-->
      <!--        div-->
      <!--            .opt-cmd-->
      <!--                button.inz-btn.btn-xs.btn-default(type="reset",ng-click="resetDataForTMS('tariffLane')") Reset-->
      <!--                button.inz-btn.btn-xs.btn-success(ng-click="applyDataForTMS('tariffLane')") Apply-->
      <button permission="tariffLane.editTariffLanes" ng-click="redirectToAddNewTariff()" ng-show="tariffList.length" class="btn-sm btn-custom">Add New</button>
    </div>
  </div>
</div>
<div style="clear:both;"></div>
<div class="col-xs-12 col-sm-12 col-md-12">
  <div ng-show="tariffList.length &amp;&amp; $state.current.name=='billright.tariffLane'" style="margin-top:47px;">
    <div class="col-xs-12 filter-formview">
      <div ng-repeat="f in sortedFields" ng-switch="fields[f].type" class="col-xs-12 col-sm-6 col-md-3">
        <div>
          <label class="opt-title">{{fields[f].label}}</label>
        </div>
        <div ng-switch-when="date">
          <input datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" type="text" ng-model="fields[f].val" close-text="Close" placeholder="{{fields[f].label}}" class="input-large"/>
        </div>
        <div ng-switch-default="ng-switch-default">
          <dynamic-Select name="{{fields[f]}}" ng-model="fields[f].val" customobj="{{custObj[fields[f].label]}}" ph="{{fields[f].autoSuggestSource}}" placeholder="{{fields[f].label}}"></dynamic-Select>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="pull-right">
          <button type="reset" ng-click="resetDataForTMS('tariffLane')" class="inz-btn btn-xs btn-default">Reset</button>
          <button ng-click="applyDataForTMS('tariffLane')" class="inz-btn btn-xs btn-success">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 overflow-auto">
      <table class="inz-table inz-table1 border1px">
        <thead>
          <tr>
            <th><span>
                <input tooltip="Select All" type="checkbox"/></span></th>
            <th ng-repeat="charge in tariffList[0]" ng-show="$index &gt; 2 &amp;&amp; $index !== 4"><span tooltip="{{charge |toHumanReadable}}" class="trim-info-large">{{charge | toHumanReadable}}</span></th>
            <th><span tooltip="Edit" class="trim-info-large">Edit Tariff</span></th>
          </tr>
        </thead>
        <tbody ng-repeat="data in tariffList" ng-show="$index &gt; 0">
          <tr style="cursor: pointer;">
            <td ng-repeat="d in data track by $index" ng-show="$index==0">
              <input id="chk" type="checkbox" ng-click=""/>
            </td>
            <td ng-repeat="d in data track by $index" ng-show="$index&gt;2 &amp;&amp; $index !== 4" ng-switch="$index"><span tooltip="{{d}}" ng-switch-when="8" class="trim-info-large">{{d | date:fullDate}}</span><span tooltip="{{d}}" ng-switch-when="9" class="trim-info-large">{{d | date:fullDate}}</span><span tooltip="{{d}}" ng-switch-default="ng-switch-default" class="trim-info-large">{{d}}</span></td>
            <td ng-repeat="d in data track by $index" ng-show="$index==0"><a href="#/billright/tariffLane/editTariff/{{data[1]}}" ng-click="editLane(data)"><span class="in-add-txt">Edit/View</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination ng-hide="tariffList.length==0" total-items="totalItems" items-per-page="pageLimit" page="currentPage" on-select-page="setPage($parent.currentPage)" boundary-links="true" class="pagination-small"></pagination>
  </div>
  <div ui-view="childContents"></div>
</div>