
<div id="newFiles" ng-controller="FileUploadController" url="/api/tms/upload/file">
  <form data-upload-template-id="template-upload-1" method="POST" action="/api/tms/upload/file" enctype="multipart/form-data" data-ng-app="angularApp" data-file-upload="options" class="fileupload fileUps">
    <div bs-tooltip="tooltip.drop" id="drop-area">
      <div bs-tooltip="tooltip.attach" class="fileinput-button btn-file">
        <input type="file" id="files-upload" name="file" multiple="multiple"/><i class="icon-cloud-upload"></i>
      </div>
      <div class="drop-instructions">
        <mute> Browse and upload multiple files or drag and drop files here</mute>
      </div>
      <div class="drop-over">Drop files here!</div>
    </div>
    <div ng-hide="proceedClicked" class="row uploaded">
      <div data-ng-repeat="file in queue" class="file"><span ng-class="file.class" class="file-name"><a style="cursor: pointer;" bs-tooltip="tooltip.download" target="_blank" href="{{$location.host()}}/api/tms/download/file?id={{file.id}}" download="{{file.name}}">{{file.name}} &nbsp</a><i data-dismiss="alert" ng-click="callRemoveNewDocumentId(file.id)" bs-tooltip="tooltip.delete" style="cursor: pointer;" class="fa fa-times-circle ico-dismis"></i></span></div>
      <button type="submit" ng-click="proceed()" ng-show="docExist" class="inz-btn btn-sm btn-success pull-right">Proceed &nbsp;<i class="fa fa-long-arrow-right"></i></button>
    </div>
  </form>
</div>