
<div class="col-xs-12">
  <div class="modal-dialog container">
    <div class="modal-content">
      <form name="form" novalidate="novalidate">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" type="button" ng-click="close()" class="close">    &times;</button>
          <h4 class="modal-title">Upload New Invoice<i ng-show="loader" class="icon-spinner icon-spin white icon-large"></i></h4>
        </div>
        <div ng-init="getTemplate()" class="modal-body">
          <div ui-handsontable="{rowHeaders: true, currentRowClassName: &quot;currentRow&quot;,currentColClassName: &quot;currentCol&quot;}" datarows="data in datas" columns="dlgColumns" manualColumnResize="true" minsparerows="1" contextMenu="false" id="invoice" beforeKeyDown="beforeKeydown" afterSelection="afterSelection"></div>
          <div style="clear:both;padding-top:12px"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-left"></div>
          <div class="pull-right">						
            <button ng-click="close()" class="inz-btn3 btn-sm btn-default">Cancel</button>
            <button ng-click="saveData()" class="inz-btn3 btn-sm btn-success">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>