
<div class="page-header">   </div>
<div class="row">
  <div class="col-xs-12">
    <form novalidate="novalidate" name="form" class="form-horizontal">
      <div class="fieldset">
        <div class="row">
          <div class="btn-group pull-right"><a ng-hide="userCreateLoader" ng-click="backToList()" style="cursor: pointer;" bs-tooltip="tooltip.back" class="btn btn-primary btn-margin btn-sm"><i class="icon-mail-reply icon-large"></i></a>
            <button permission="createUser.*.*" ng-hide="userCreateLoader" ng-disabled="form.$invalid " type="submit" ng-click="create(user)" style="cursor: pointer;" bs-tooltip="tooltip.save" class="btn btn-primary btn-sm"><i class="icon-ok icon-large"></i></button><i ng-show="userCreateLoader" class="icon-spinner icon-spin icon-2x"></i>
          </div>
        </div>
        <tabset>
          <tab heading="Profile" class="tab">
            <ng-form name="form9">
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">User Name</label>
                <div class="col-sm-9"> 
                  <input type="text" name="userName" duplicate="userName" ng-model="user.userName" placeholder="User Name" required="required"/>
                  <label ng-show="form9.userName.$error.required" class="help-inline required">*</label>
                  <label ng-show="form9.userName.$error.duplicate" class="help-inline required">Username exists.</label>
                  <label ng-show="form9.userName.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Password</label>
                <div class="col-sm-9"> 
                  <input name="password" type="password" required="required" ng-model="user.password" ng-minlength="6" placeholder="Password"/>
                  <label ng-show="form9.password.$error.required" class="help-inline required">*</label>
                  <label ng-show="form9.password.$error.minlength" class="help-inline required">The minimum length is 6.</label>
                  <label ng-show="form9.password.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Confirm Password</label>
                <div class="col-sm-9"> 
                  <input name="confirmPassword" type="password" required="required" ng-model="confirmPassword" ng-minlength="6" ui-validate="'$value==user.password'" ui-validate-watch="'password'" placeholder="Confirm Password"/>
                  <label ng-show="form9.confirmPassword.$error.required" class="help-inline required">*</label>
                  <label ng-show="form9.confirmPassword.$error.minlength" class="help-inline required">The minimum length is 6.</label>
                  <label ng-show="form9.confirmPassword.$error.validator" class="help-inline required">Password's do not match.</label>
                  <label ng-show="form9.confirmPassword.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Email</label>
                <div class="col-sm-9"> 
                  <input type="email" name="email" duplicate="email" ng-model="user.email" placeholder="Email" required="required"/>
                  <label ng-show="form9.email.$error.required" class="help-inline required">*</label>
                  <label ng-show="form9.email.$error.email" class="help-inline required">Invalid email...!</label>
                  <label ng-show="form9.email.$error.duplicate" class="help-inline required">Email exists.</label>
                  <label ng-show="form9.email.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">First Name</label>
                <div class="col-sm-9"> 
                  <input type="text" name="firstName" ng-model="user.firstName" placeholder="First Name" required="required"/>
                  <label ng-show="form9.firstName.$error.required" class="help-inline required">*</label>
                  <label ng-show="form9.firstName.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Last Name</label>
                <div class="col-sm-9"> 
                  <input type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required="required"/>
                  <label ng-show="form9.lastName.$error.required" class="help-inline required">*</label>
                  <label ng-show="form9.lastName.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Department</label>
                <div class="col-sm-9"> 
                  <select ui-select2="ui-select2" name="department" ng-model="user.department" data-placeholder="Please select..." style="width:200px">
                    <option value=""></option>
                    <option value="billing"> Billing</option>
                    <option value="rating"> Rating   </option>
                    <option value="pricing"> Pricing </option>
                    <option value="delivery"> Delivery </option>
                    <option value="management"> Management                                                 </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Type</label>
                <div class="col-sm-9">                                                     
                  <select ui-select2="ui-select2" name="type" ng-model="user.type" data-placeholder="Please select..." style="width:200px">
                    <option value=""></option>
                    <option value="internal"> Internal</option>
                    <option value="external"> External   </option>
                  </select>
                </div>
              </div>
              <h3 class="header smaller lighter blue">
                                                 
                Location                                         
              </h3>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Contact 1</label>
                <div class="col-sm-9"> 
                  <input type="text" name="contact1" ng-model="user.contact1" placeholder="Contact 1"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Contact 2</label>
                <div class="col-sm-9"> 
                  <input type="text" name="contact2" ng-model="user.contact2" placeholder="Contact 2"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Company</label>
                <div class="col-sm-9"> 
                  <input type="text" name="company" ng-model="user.company" placeholder="Company"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Address 1</label>
                <div class="col-sm-9"> 
                  <input type="text" name="address1" ng-model="user.address1" placeholder="Address 1"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Address 2</label>
                <div class="col-sm-9"> 
                  <input type="text" name="address2" ng-model="user.address2" placeholder="Address 2"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Country</label>
                <div class="col-sm-9"> 
                  <input type="text" name="country" ng-model="user.country" placeholder="Country"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Station</label>
                <div class="col-sm-9"> 
                  <input type="text" name="station" ng-model="user.station" placeholder="Station"/>
                </div>
              </div>
            </ng-form>
          </tab>
          <tab heading="Roles" style="overflow:hidden" class="tab">
            <ng-form name="roleForm">
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Roles</label>
                <div class="col-sm-9"> 
                  <input ui-select2="roleBar" name="roleBar" ng-model="user.role" ng-change="showDialog(user.role)" select-validate="select-validate" required="required" class="input-xxlarge"/>
                  <div ng-show="roleForm.roleBar.$error.required" class="help-inline required">*</div>
                  <label ng-show="roleForm.roleBar.$valid" class="help-inline required validTick">&#10004;</label>
                </div>
              </div>
            </ng-form>
          </tab>
          <tab heading="Permissions" style="overflow:hidden" class="tab">
            <div class="form-group"><a ng-click="addPermissions()" class="btn btn-success"><i class="icon-plus icon-white"> </i> Permissions</a></div>
            <div class="form-group">                                                       
              <div class="col-md-4">Permission</div>
              <div class="col-md-4">For</div>
              <div class="col-md-4">On</div>
              <ng-form name="permissionForm" ng-repeat="row in user.permission">
                <div class="col-md-4">
                  <input ui-select2="permissionBar" name="permissionBar" ng-model="user.permission[$index]['permission']" select-validate="select-validate" required="required" class="col-md-10"/>
                  <div ng-show="permissionForm.permissionBar.$error.required" class="help-inline required">*</div>
                  <label ng-show="permissionForm.permissionBar.$valid" class="help-inline required validTick validTick">&#10004;</label>
                </div>
                <div class="col-md-4"> 
                  <select ui-select2="ui-select2" name="forBar" ng-change="permissionforChanged($index)" ng-model="user.permission[$index]['for']" data-placeholder="Please select..." style="width:200px" select-validate="select-validate" required="required">
                    <option value=""></option>
                    <option ng-repeat="for in permissionforList" value="{{for.n}}">{{for.v}}</option>
                  </select>
                  <div ng-show="permissionForm.forBar.$error.required" class="help-inline required">*</div>
                </div>
                <div class="col-md-4">                                                                        
                  <input ui-select2="onBar" name="onBar" ui-event="{ open : 'setfor($index)'}" ng-model="user.permission[$index]['on']" select-validate="select-validate" required="required" class="col-md-10"/>
                  <div ng-show="permissionForm.onBar.$error.required" class="help-inline required">*</div>
                  <label ng-show="permissionForm.onBar.$valid" class="help-inline required validTick">&#10004;</label>
                  <div class="help-inline"><a ng-hide="user.permission.length == 1" ng-click="removePermissions($index)" class="close">&times;</a></div>
                </div><br/>
              </ng-form>
            </div>
          </tab>
          <tab heading="Groups" class="tab">
            <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right">Groups</label>
              <div class="col-sm-9"> 
                <input ui-select2="groupBar" name="groupBar" ng-model="user.group" class="input-xxlarge"/>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </form>
  </div>
</div>