include common_top_row
link(rel="stylesheet", type="text/css", href="/styles/org_setup.css")
link(rel="stylesheet", type="text/css", href="/styles/inz-in.css")
.main-container(id="main-container")
    .main-container-inner
        //a.menu-toggler(id="menu-toggler",href="#")
            span.menu-text
        .sidebar(id="sidebar")
            .in-brand
                a.navbar-brand(href='#')
                    span.in-logo-bar.r
                    span.in-logo-bar.b
                    span.in-logo-bar.g
                    | invoize
            .sidebar-shortcuts(id="sidebar-shortcuts")
                .sidebar-shortcuts-mini(id="sidebar-shortcuts-mini")
                    span.icon-cog
            .sidebar-collapse(id="sidebar-collapse")
                i.icon-chevron-left
            ul.nav.nav-list(ng-init="tab=''")
                li(permission='dashboard.billrightDashboard',ng-class="{ active:getCurrentState('charts,summary')}")
                    a.dropdown-toggle(data-toggle="tooltip",href="#/billright",tool-tip,data-placement="top",ng-click="tab='dashboard'" ,title="Dashboard")
                        i.icon-dashboard
                        span.menu-text.trim-info-large &nbsp; Dashboard
                        i.arrow.icon-angle-down
                    ul.submenu(ng-show="tab=='dashboard' || getCurrentState('charts,summary')")
                        li(permission='charts.billrightCharts',ng-class="{ active: getCurrentState('charts')}")
                            a(href="#/billright/charts")  Charts
                        li(permission='summary.billrightSummary',ng-class="{ active: getCurrentState('summary')}")
                            a(href="#/billright/summary")  Summary

                li(ng-class="{ active : getCurrentState('approvalRequest,workAllocation,shipmentEntry,invoiceProcessing,invoizeDelivery,webInvoice,tariffRepository,tariffLanes,calculationCode,documentManagement')}")
                    a.dropdown-toggle(href="#",ng-click="tab='Process'" ,tool-tip,data-placement="top", data-toggle="tooltip", title="Process Management")
                        i.icon-tasks
                        span.menu-text.trim-info-large &nbsp; Process
                        i.arrow.icon-angle-down
                    ul.submenu(ng-show="tab.indexOf('Process')!==-1")
                        li(permission="workAllocation.sideWorkAllocation",ng-class="{ active: getCurrentState('workAllocation')}")
                            a(href="#/billright/WorkAllocation" ,title="Work Allocation") Work Allocation
                        li(permission='invoicing.sideInvoicing',ng-class="{ active: getCurrentState('shipmentEntry,invoiceProcessing')}")
                            a.dropdown-toggle(href="#",toggle-ele,toggletarget="ul#Invoicing",title="Invoicing") Invoicing
                                i.fa.fa-angle-down
                            ul.sub.submenu#Invoicing
                                li(permission='shipmentEntry.sideShipmentEntry',ng-class="{ active: getCurrentState('shipmentEntry')}")
                                    a(href="#/billright/shipmentEntry" ,title="Shipment Processing") Shipment Processing
                                li(permission='invoiceProcessing.sideInvoiceProcessing',ng-class="{ active: getCurrentState('invoiceProcessing')}")
                                    a(href="#/billright/invoiceProcessing" ,title="Invoice Processing") Invoice Processing
                        //li(permission='invoiceDelivery.sideInvoiceDelivery',ng-class="{ active: getCurrentState('invoizeDelivery')}")
                        //    a(href="#/billright/invoizeDelivery/edi" ,title="Invoice Delivery") Invoice Delivery

                        li(permission='invoiceDelivery.sideInvoiceDelivery',ng-class="{ active: getCurrentState('invoizeDelivery')}")
                            a(href="" ,title="Invoice Delivery",toggle-ele,toggletarget="ul#Invoicedelivery") Invoice Delivery
                                i.fa.fa-angle-down
                            ul.sub.submenu#Invoicedelivery
                                li(permission='invoiceDelivery.tabEdiInvoiceDelivery',ng-class="{ active: getCurrentState('edi',2)}")
                                    a(href="#/billright/invoizeDelivery/edi" ,title="Invoices to be Delivered") Invoices to be Delivered
                                li(permission='invoiceDelivery.tabDeliveredInvoice',ng-class="{ active: getCurrentState('deliveredInvoice',2)}")
                                    a(href="#/billright/invoizeDelivery/deliveredInvoice" ,title="Delivered Invoice") Delivered Invoice



                        li(permission='invoiceProcessing.sideInvoiceDelivery',ng-class="{ active: getCurrentState('webInvoice',2)}")
                            a(href="#/billright/invoizeDelivery/webInvoice" ,title="Web Invoice") Web Invoice

                        li(ng-class="{ active: getCurrentState('tariffRepository,calculationCode,documentManagement,tariffLanes')}")
                            a(href="",toggle-ele,toggletarget="ul#Tariff" ,title="Tariff Management") Tariff Management
                                i.fa.fa-angle-down
                            ul.sub.submenu#Tariff
                                li(permission='tariffRepository.viewTariffConfiguration',ng-class="{ active: getCurrentState('tariffRepository')}")
                                    a(href="#/billright/tariffManagement" ,title="Tariff Repository") Tariff Configuration
                                li(permission='tariffLanes.tariffLaneView',ng-class="{ active: getCurrentState('tariffLanes')}")
                                    a(href="#/billright/tariffLane" ,title="Tariff Repository") Tariff Lanes
                                li(permission='documentRepository.sideDocumentRepository',ng-class="{ active: getCurrentState('documentManagement')}")
                                    a(href="#/billright/documentManagement",title="Document Repository") Document Repository
                                li(permission='calculationCode.sideCalculationCode',ng-class="{ active: getCurrentState('calculationCode')}")
                                    a(href="#/billright/calculationCode/view" ,title="Calculation Codes") Calculation Codes
                       
                        li(ng-class="{ active: $state.current.name.split('.')[1]=='ims'}",permission='ims.sideIMS')
                            a(href="#/billright/ims",title="Issue Management") Issue Management
                        //li(ng-class="{ active: getCurrentState('approvalRequest')}")
                        //    a(href="",toggle-ele,toggletarget="ul#Approval" ,title="Approval Requests") Approval Requests
                        //        i.fa.fa-angle-down
                        //    ul.sub.submenu#Approval
                        //        li(ng-class="{ active: getCurrentState('my',2)}")
                        //            a(href="#/billright/approvalRequest/my" ,title="My Requests") My Requests
                        //        li(ng-class="{ active: getCurrentState('pending',2)}")
                        //            a(href="#/billright/approvalRequest/pending" ,title="Pending Requests") Pending
                        li(ng-class="{ active: getCurrentState('approvalRequest')}")
                            a(href="",toggle-ele,toggletarget="ul#Approval" ,title="Approval Requests") Approval Requests
                                i.fa.fa-angle-down
                            ul.sub.submenu#Approval
                                //<<<<<<< HEAD
                                //                                li(ng-class="{ active: getCurrentState('mycompleted,mypending',2)}")
                                //                                    a(href="",toggle-ele,toggletarget="ul#myApproval" ,title="My Requests") My Requests
                                //                                        i.fa.fa-angle-down(style="margin-top:-13px;")
                                //                                    ul.sub.submenu.sub2-menu#myApproval
                                //
                                //                                        li
                                //=======
                                li(ng-class="{ active: getCurrentState('myapproved,myrejected,mypending',2)}")
                                    a(href="",toggle-ele,toggletarget="ul#myApproval" ,title="My Requests") My Requests
                                        b.fa.fa-angle-down
                                    ul.sub.submenu.sub2-menu#myApproval
                                        li(ng-class="{ active: getCurrentState('myapproved',2)}")
                                            a(href="#/billright/approvalRequest/myapproved" ,title="Completed") Approved
                                        li(ng-class="{ active: getCurrentState('myrejected',2)}")
                                            a(href="#/billright/approvalRequest/myrejected" ,title="Completed") Rejected
                                        li(ng-class="{ active: getCurrentState('mypending',2)}")
                                            a(href="#/billright/approvalRequest/mypending" ,title="Pending") In Process
                                li(ng-class="{ active: getCurrentState('pending',2)}")
                                    a(href="#/billright/approvalRequest/pending" ,title="Pending Requests") Pending for Me
                li(permission='reports.sideReports',ng-class="{ active: getCurrentState('HWBStatusReport')}")
                    a.dropdown-toggle(href="#",data-placement="top",ng-click="tab='reports'", data-toggle="tooltip", title="Reports")
                        i.icon-file-text
                        span.menu-text.trim-info-large &nbsp; Reports
                        i.arrow.icon-angle-down
                    ul.submenu(ng-show="tab=='reports' || getCurrentState('HWBStatusReport')")
                        li(ng-class="{ active: getCurrentState('HWBStatusReport')}")
                            a(href="#/billright/HWBStatusReport")  Status Report

        .main-content(id="main-content")
            div(ng-if="$state.current.name=='billright' && (loggedInUser.userCompany && loggedInUser.userSystem)",permission='dashboard.billrightDashboard')
                div(style="clear:both;height:10px;")
                .col-md-12.col-sm-12.col-xs-12
                    .col-md-12.col-sm-12.col-xs-12
                        .div-bill
                            .pull-right(ng-init="search=null")
                                button.inz-btn.btn-xs.btn-success(ng-click="refreshShipments()",title="Refresh")
                                    i.fa.fa-refresh
                                .btn-group(style="vertical-align: inherit;")
                                    button.btn-sm.dropdown-toggle.btn-custom(data-toggle='dropdown', type='button')
                                        |  Choose columns &nbsp;
                                        i.fa.fa-angle-down
                                    ul.dropdown-menu.filter-ddm.arrow-right.dropdown-caret(aria-labelledby='btnGroupVerticalDrop1', role='menu',style="left: auto; right: 0;")
                                        li
                                            .col-sm-12(ng-repeat="(k,col) in allocationColumns")
                                                input(type="checkbox",id="col_{{$index}}",ng-click="setSelectedCols($event.target,k+'|'+col)")
                                                label(for="col_{{$index}}") {{col}}
                                        li
                                            .opt-cmd
                                                button.inz-btn.btn-xs.btn-success(ng-click="getAllocatedList()") Apply

                                input.input-search-brown(placeholder="Search..",ng-model="search")
                                button.input-search-brown
                                    i.fa.fa-search
                        .stat-panel
                            .stat-row
                                .col-md-3.col-sm-12.col-xs-12.stat-cell.padding-sm-hr.no-border-r.valign-top
                                    h4.padding-sm.padding-xs-hr
                                        i.fa.fa-cloud.text-primary
                                        | &nbsp; Work Allocation
                                    ul.list-group.no-margin
                                        li.list-group-item-c.no-border-hr.padding-xs-hr.no-bg.no-border-radius
                                            |Accounts
                                            span.label-info.pull-right.p-side {{totalShipments.account}}
                                        li.list-group-item-c.no-border-hr.padding-xs-hr.no-bg.no-border-radius
                                            |Users

                                            span.label-success.pull-right.p-side {{totalShipments.users}}
                                        li.list-group-item-c.no-border-hr.padding-xs-hr.no-bg.no-border-radius
                                            |Shipments
                                            span.label-warning.pull-right.p-side {{totalShipments.shipments}}
                                .col-md-9.col-sm-12.col-xs-12.bg-primary.stat-cell.padding-sm.valign-middle
                                    div(style="max-height:250px; height:250px;outline:none !important;padding-right:10px;",nice-scroll)
                                        //table.table-b
                                        //    thead
                                        //        tr
                                        //            td S.No.
                                        //            td(ng-repeat="h in allocatedShipments.header") {{h}}
                                        //    tbody(tree-table="allocatedShipments")
                                        table.table-b
                                            thead
                                                tr
                                                    th S.No.
                                                    th(ng-repeat="h in allocatedShipments.header") {{h}}
                                            tbody
                                                tr(ng-repeat="shipment in allocatedShipments.msg | filter:search ")
                                                    td
                                                        span  {{$index+1}}
                                                    td(ng-repeat="h in allocatedShipments.header")
                                                        i.fa.fa-user.color-sample(ng-if="h==='User ID'")
                                                        span(ng-if="h!=='Count'") &nbsp; {{shipment[h]}}
                                                        span.command1.dropdown-toggle.p-side1(ng-if="h==='Count'") {{shipment[h]}}
                                                        ul.dropdown-menu-c.dropdown-caret-c.dropdown-menu-c1(ng-if="shipment[h] && h==='Count'")
                                                            li
                                                                a(href='', ng-click='showPendingShipment(shipment["Account Number"],shipment["Account ID"],shipment["User ID"])',permission='shipmentEntry.viewShipmentData') Processing
                                                                a(href='', ng-click='openAllocateDialog(shipment)') Re-allocate


                div(style="clear:both;")
                .row
                    .col-md-6.col-sm-12.col-xs-12
                            .col-sm-12.col-md-6.col-xs-12
                                .infobox.infobox1.infobox-green
                                    .infobox-icon
                                        i.icon-comments
                                    .infobox-data
                                        span.infobox-data-number 14
                                        .infobox-content comments + 2 Issues
                                    .stat.stat-important 8%
                                    .info-footer-title.bg-green View Details
                                        i.gly-icon.icon-arrow-right
                            .col-sm-12.col-md-6.col-xs-12
                                .infobox.infobox1.infobox-blue
                                    .infobox-icon
                                        i.icon-book
                                    .infobox-data
                                        span.infobox-data-number 11
                                        .infobox-content Pending Shipments
                                    .badge.badge-success
                                        | +3%
                                        i.icon-arrow-up
                                    .info-footer-title.bg-blue View Details
                                        i.gly-icon.icon-arrow-right
                            .col-sm-12.col-md-6.col-xs-12
                                .infobox.infobox1.infobox-pink
                                    .infobox-icon
                                        i.icon-book
                                    .infobox-data
                                        span.infobox-data-number 389
                                        .infobox-content New Shipments
                                    .stat.stat-warning 8%
                                    .info-footer-title.bg-pink View Details
                                        i.gly-icon.icon-arrow-right
                            .col-sm-12.col-md-6.col-xs-12
                                .infobox.infobox1.infobox-red
                                    .infobox-icon
                                        i.icon-exclamation-sign
                                    .infobox-data
                                        span.infobox-data-number 32
                                        .infobox-content Pending Issues
                                    .info-footer-title.bg-red View Details
                                        i.gly-icon.icon-arrow-right
                            .col-sm-12.col-md-6.col-xs-12
                                .infobox.infobox1.infobox-orange2
                                    .infobox-chart
                                        span.sparkline(spark,data-values="196,128,202,177,154,94,100,170,224")
                                    .infobox-data
                                        span.infobox-data-number 6,251
                                        .infobox-content Overall Unbilled
                                    .badge.badge-success
                                        | +7.5%
                                        i.icon-arrow-up
                                    .info-footer-title.bg-blue View Details
                                        i.gly-icon.icon-arrow-right
                            .col-sm-12.col-md-6.col-xs-12
                                .infobox.infobox1.infobox-red
                                    .infobox-progress1
                                        .easy-pie-chart.percentage(epc,size="50",data-percent="42")
                                            .percent 42%
                                    .infobox-data
                                        span.infobox-text.font-size-11 Work Allocation
                                        .infobox-content.font-size-11
                                            | 58 Shipments Pending
                                    .info-footer-title.bg-red View Details
                                        i.gly-icon.icon-arrow-right

                            .col-md-4.col-sm-12.col-xs-12
                                .infobox.infobox.infobox-green.infobox-small.infobox-small1.infobox-dark
                                    .infobox-progress
                                        .easy-pie-chart.percentage(epc,size="39",data-percent="61")
                                            .percent 61%
                                    .infobox-data
                                        .infobox-content Billing
                                        .infobox-content Completion
                            .col-md-4.col-sm-12.col-xs-12
                                .infobox.infobox.infobox-blue.infobox-small.infobox-small1.infobox-dark
                                    .infobox-chart
                                        span.sparkline(spark,data-values="3,4,2,3,4,4,2,2")
                                    .infobox-data
                                        span.infobox-content Revenue
                                        .infobox-content $32,000
                                            //.infobox-data
                                            //     .infobox-content Earnings
                                            //     .infobox-content $32,000
                            .col-md-4.col-sm-12.col-xs-12
                                .infobox.infobox.infobox-grey.infobox-small.infobox-small1.infobox-dark
                                    .infobox-icon
                                        i.icon-download-alt
                                    .infobox-data
                                        .infobox-content Downloads
                                        .infobox-content 1,205
                    .col-md-6.col-sm-12.col-xs-12
                        .col-md-12.col-sm-12.col-xs-12
                            .widget-box
                                .widget-header
                                    h5
                                        i.icon-signal
                                        | Global Unbilled Details
                                    .widget-toolbar.no-border
                                        button.btn1.btn-primary.dropdown-toggle(data-toggle='dropdown')
                                            | This Week &nbsp;
                                            i.icon-angle-down.icon-on-right.bigger-110
                                        ul.dropdown-menu.pull-right.dropdown-125.dropdown-lighter.dropdown-caret
                                            li.active
                                                a.blue(href='#')
                                                    i.icon-caret-right.bigger-110
                                                    | &nbsp; This Week
                                            li
                                                a(href='#')
                                                    i.icon-caret-right.bigger-110.invisible
                                                    | &nbsp; Last Week
                                            li
                                                a(href='#')
                                                    i.icon-caret-right.bigger-110.invisible
                                                    | &nbsp; This Month
                                            li
                                                a(href='#')
                                                    i.icon-caret-right.bigger-110.invisible
                                                    | &nbsp; Last Month
                                .widget-body(nice-scroll)
                                    .widget-main
                                        div(worldmap,style="height:450px;border:1px solid #ddd;")

                //    .col-xs-12.col-sm-12.col-md-12
                //        .widget-box
                //            .widget-header
                //                h4
                //                    i.icon-list-alt
                //                    | Shipment Volume
                //                .widget-toolbar.no-border
                //                    ul.nav-tabs-1
                //                        li.active
                //                            a(href="#cchart" ,data-toggle="tab")
                //                                i.fa.fa-dollar
                //                                | &nbsp; Charts
                //                        li
                //                            a(href="#cdetail" ,data-toggle="tab")
                //                                 i.fa.fa-list
                //                                 | &nbsp; Details
                //            .widget-body
                //                .widget-main
                //                    .tab-content
                //                        .tab-pane.in.active#cchart
                //                            //div(plot,style='height: 215px;')
                //                            div(google-chart,obj="coffeeData")
                //                        .tab-pane#cdetail
                //                            div.overflow-auto(style='height:215px;')
                //                                table.table-chart.table-bordered.table-striped
                //                                    thead
                //                                        tr
                //                                            th Column name
                //                                            th Column name
                //                                            th Column name
                //                                            th Column name
                //                                    tbody
                //                                        tr
                //                                            td Row1
                //                                            td Row2
                //                                            td Row3
                //                                            td Row4
                //                                        tr
                //                                            td Row1
                //                                            td Row2
                //                                            td Row3
                //                                            td Row4
                //                                        tr
                //                                            td Row1
                //                                            td Row2
                //                                            td Row3
                //                                            td Row4
                //                                        tr
                //                                            td Row1
                //                                            td Row2
                //                                            td Row3
                //                                            td Row4
                //                                        tr
                //                                            td Row1
                //                                            td Row2
                //                                            td Row3
                //                                            td Row4
                //                                        tr
                //                                            td Row1
                //                                            td Row2
                //                                            td Row3
                //                                            td Row4
                //.col-md-6.col-sm-12.col-xs-12
                //    .col-sm-12.col-md-12.col-xs-12
                //        .widget-box
                //            .widget-header
                //                h4
                //                    i.icon-list-alt
                //                    | Realtime
                //                span.widget-toolbar
                //                    a(data-action="settings",href="#")
                //                        i.icon-cog
                //                    a(data-action="reload",href="#")
                //                        i.icon-refresh
                //                        //a(data-action="collapse", href="#")
                //                        //    i.icon-chevron-up
                //                    a(data-action="close", href="#")
                //                        i.icon-remove
                //            .widget-body
                //                .widget-main
                //                    div(real-time-chart,style='height:350px;')

                //.row
                //        .col-md-12
                //            div(style="clear:both; height:20px;")
                //            .row
                //                .col-sm-12(style="min-width:100% !important;")
                //                    .widget-box
                //                        .widget-header
                //                            h4
                //                                i.icon-list-alt
                //                                | Pie Chart
                //                        .widget-body
                //                            .widget-main
                //                                div(flot-pie,style='height: 400px;')

            .page-content(ui-view="contents")



