//Using fluid as the other has fixed pixels and doesnt extend the whole screen.
.row.in-wiz-ttl.in-fix-scroll(set-width)
    .col-md-12
        .pull-left
            label.lbl-dash
                span.blue Billing Pending Report for : &nbsp;
                span.bolder.orange
                    i.fa.fa-calendar-o &nbsp;&nbsp;
                    input.input-small.height-20(id="dt",datepicker-popup="yyyy-MM-dd",readonly,datepicker-options="dateOptions",type="text",ng-model="entryDate",close-text="Close",placeholder="Select date")
        .pull-right
            label(style="padding-right:5px;")
                span {{updatedOn}}
            .btn-group.filter-dd.rule-filter(style="padding-right:10px;")
                button.btn-sm.btn-ico.btn-custom.dropdown-toggle(data-toggle='dropdown', type='button')
                    i.fa.fa-filter
                    |  Filter &nbsp;
                    i.fa.fa-angle-down
                div.dropdown-menu.filter-ddm.arrow-right.dropdown-caret(aria-labelledby='btnGroupVerticalDrop1', role='menu',style="white-space: nowrap;")
                    div.showme.custom-filter-display.overflow-auto(ng-init="getRuleFields()")
                        li(ng-repeat="f in sortedFields" ,ng-switch="fields[f].type")
                            .opt-title {{fields[f].label}}
                            input.input-large(ng-switch-when="date", datepicker-popup="yyyy-MM-dd",datepicker-options="dateOptions",type="text",ng-model="fields[f].val",close-text="Close",placeholder="{{fields[f].label}}", )
                            dynamic-Select(ng-switch-default,name="{{fields[f]}}",ng-model="fields[f].val",ph="{{fields[f].autoSuggestSource}}",customobj="{{custObj[fields[f].label]}}",placeholder="{{fields[f].label}}")
                        //- li(ng-repeat="(k,lb) in fields",ng-switch="lb.type" )
                        //-   .opt-title {{lb.label}}
                        //-   input.input-large(ng-switch-when="date", datepicker-popup="yyyy-MM-dd",datepicker-options="dateOptions",type="text",ng-model="lb.val",close-text="Close",placeholder="{{lb.label}}", )
                        //-   dynamic-Select(ng-switch-default,multiselect,name="{{k}}",ng-model="lb.val",ph="{{autosuggestSource=='location'?'Location':autosuggestSource}}",customobj="{{custObj[lb.label]}}",placeholder="{{lb.label}}")
                    div
                        .opt-cmd
                            button.inz-btn.btn-xs.btn-default(type="reset",ng-click="resetEasyFilter()") Reset
                            button.inz-btn.btn-xs.btn-success(ng-click="applyEasyFilter()") Apply

div(style="clear:both;padding:50px 0 0")
.col-md-12
    div.overflow-auto.border1px.div-bpr(height="Hhw")
        table.inz-table.inz-table2.table4(style="text-align:left;")
            thead
                tr
                    th(rowspan="2",colspan="0",class="borderleftB",ng-repeat="tHeaderObj in summaryTemplate.fields | filter:{isActive: true}") {{tHeaderObj.label}}
                    th(rowspan="1",colspan="0",class="borderleftB ",ng-repeat="h in initData.headers") {{h}}
                    th(rowspan="1",colspan="0",class="borderleftB ") Total
                tr
                    th(ng-repeat="tHeaderObj in summaryTemplate.fields | filter:{isActive: true}") Count | Amount
                    //th(ng-repeat="h in initData.headers")
                    //th  Count | Amount
            tbody(toggle-table, meta-keys="{{sortedFields}}")
                tr(ng-repeat="data in initData.data")
                    td.center-text.color1(id="region_{{$index}}") {{data.region}}
                    td.text-left(ng-repeat="tRowObj in summaryTemplate.fields | filter:{isActive: true} | slice:1:summaryTemplate.fields.length",ng-click='fillData($event.target)',id="{{tRowObj.key}}_{{$index}}")
                        i.fa.fa-folder.folder2
                        | All
                    td.center-text.tdh(ng-repeat='bg in data.ageGroup track by $index',ng-click="showDetails($event.target,$index)")  {{bg.count}} | ${{bg.amount}}
                    td.center-text(ng-click="showDetails($event.target,data.ageGroup.length)")
                        .lbldash {{data.total.count}} | ${{data.total.amount}}
.row(ng-show="dialog")
    .col-sm-12
        .modal-dialog.modal
            .modal-content(style="margin: 0 auto;width: 80%;")
                form(name="form",novalidate)
                    .modal-header
                        button.close(aria-hidden='true', data-dismiss='modal', type='button', ng-click="dialog=false")     &times;
                        h4.modal-title Details &nbsp;
                            i.icon-spinner.icon-spin.icon-large(ng-show="loader")
                    .modal-body
                        div(style="overflow: auto;height:460px;",ng-init='details.allChange = false')
                            table.table-hawb
                                thead
                                    th Sr. No.
                                    th(details.all,style="padding: 0 8px;")
                                        input(type="checkbox",ng-model="details.all",ng-click="excludesAll($event.target)")
                                    th(ng-repeat="(i,th) in details.headers")
                                        span(ng-repeat="(k,v) in th") {{v}}
                                tbody
                                    tr(ng-repeat="row in details.data track by $index",ng-class="{'alert-warning':row['tag.excluded']}")
                                        td {{$index+1}}
                                        td(title="{{row['tag.excluded']}}")
                                            input.ex(type="checkbox",ng-checked="exclude.indexOf(row.id)!==-1",ng-click="setExcludes($event.target,row.id)")
                                        td(ng-repeat="(i,th) in details.headers track by $index")
                                            span(ng-repeat="(k,v) in th") {{row[k]}}
                        pagination(total-items="pagination.totalItems",items-per-page="pagination.pageLimit",max-size="pagination.paginationSize",rotate="true", page="pagination.currentPage", class="pagination-small",on-select-page="setPage($parent.currentPage)", boundary-links="true")
                    .modal-footer
                        button.inz-btn.btn-xs.btn-primary(ng-click="reAllocateShipments();") Re-Allocate
                        button.inz-btn.btn-xs.btn-success(ng-click="excludeShipments('delivered');") Mark-As-Delivered
                        button.inz-btn.btn-xs.btn-danger(ng-click="excludeShipments('excluded');") Exclude
                        button.inz-btn.btn-xs.btn-success(ng-click="exportData();") Export
                        button.inz-btn.btn-xs.btn-default(ng-click="dialog=false") Close