.row.in-wiz-ttl.in-fix-scroll(ng-init="getCodeList('');",set-width)
    .col-md-12.col-sm-12.col-xs-12
        .pull-left
            .in-wiz-info Calulation Code Configuration
        .pull-right
            input.input-search-new(placeholder="Search Code",ng-change="getCodeList(q)",ng-model="q")
            button.input-search-new
                i.fa.fa-search
            a(permission="calculationCode.createCalculationCode",style="cursor:pointer",ng-href="/#/billright/calculationCode/new")
                span.in-add-sign +
                span.in-add-txt Add Code
div(style="clear:both;height:50px;")
.col-xs-12.col-md-12.col-sm-12
    .col-md-4.col-sm-6.col-xs-12.inz-blk(ng-repeat="ListItem in codeList | orderBy:title",ng-form="subForm", style="margin-bottom:10px;")
        .in-view-block
            .title
                i.fa.fa-tags.small &nbsp;
                | {{ListItem.name}}
            .line
                .caption Calculation Text
                .data {{ListItem.description}}
            .line
                .caption Calculation Format
                .data {{ListItem.format}}
        .in-btn-blk
            .in-btn-grp
                .in-btn-row
                    button.inz-btn.btn-sm.btn-danger(permission="deleteCode",tool-tip,data-placement="top", data-toggle="tooltip", title="Delete" , ng-click="confirmDeleteCode(ListItem.id)")
                        i.fa.fa-trash-o
                    button.inz-btn.btn-sm.btn-danger(permission="calculationCode.editCalculationCode",tool-tip,data-placement="top", data-toggle="tooltip", title="Edit" , ng-click="codeEditView(ListItem.id)")
                        i.fa.fa-pencil
                    button.inz-btn.btn-sm.btn-danger(permission="readCode",tool-tip,data-placement="top", data-toggle="tooltip", title="View" , ng-click="codeView(ListItem.id)")
                        i.fa.fa-eye

