include common_top_row        
link(rel="stylesheet", type="text/css", href="/styles/org_setup.css")
.container
        .row
                .box-container
                        form.form-horizontal(novalidate, name="form", ng-submit="changePassword(user)")
                                .box-header 
                                        i.fa.fa-lock.medium 
                                        |  Change Password                                
                                .box-body
                                        .in-wiz-row
                                                label.control-label Current Password                                        
                                                input(type="password",, ng-model="user.password",  name="password", required)
                                                span.help-inline.required(ng-show="form.password.$error.required") *
                                                span.help-inline.required(ng-show="form.password.$error.minlength") The minimum length is 6. 

                                        .in-wiz-row
                                                label.control-label New Password                                        
                                                input(type="password",id="newPassword", ng-model="user.newPassword", ng-minlength="6", name="newPassword", required)
                                                span.help-inline.required(ng-show="form.newPassword.$error.required") *
                                                span.help-inline.required(ng-show="form.newPassword.$error.minlength") The minimum length is 6.                        

                                        .in-wiz-row
                                                label.control-label Confirm Password                                        
                                                input(type="password", ng-model="user.confirmPassword",pw-check="newPassword",  ui-validate="'$value==user.newPassword'" , ui-validate-watch="'newPassword'", ng-minlength="6", name="confirmPassword", required)
                                                span.help-inline.required(ng-show="form.confirmPassword.$error.required") *
                                                span.help-inline.required(ng-show="form.confirmPassword.$error.minlength") The minimum length is 6.
                                                span.help-inline.required(ng-show="form.confirmPassword.$error.pwmatch") Password's do not match.
                                .box-footer                                
                                        button.inz-btn.btn-sm.btn-default(type="button",onClick="window.history.back()") Cancel
                                        button.inz-btn.btn-sm.btn-success(ng-disabled="form.$invalid",type="submit") Change
                                        img(ng-show="loadingChangePassword", src="/img/loader5.gif", alt="Loading...")
                                        //- {{user}}    