//
   Created by pallavi.dandane on 9/25/2014.

.modal-dialog.container
    .modal-content
        form(name="form",novalidate)
            .modal-header
                button.close(aria-hidden='true', data-dismiss='modal', type='button', ng-click="close()")     &times;
                h4.modal-title Add/Edit Groups &nbsp;
                    i.icon-spinner.icon-spin.white.icon-large(ng-show="loader")
            .modal-body
                .row.in-wiz-ttl.in-fix-scroll
                        .col-xs-12
                            .pull-left
                                .in-wiz-info Group
                            .pull-right
                                i.icon-spinner.icon-spin.blue.icon-large(ng-show="templateLoader")
                                input.input-search-new(placeholder="Search Group",ng-change="getGroupList(q)",ng-model="q")
                                button.input-search-new
                                    i.fa.fa-search
                                a(style="vertical-align: middle;cursor:pointer",ng-href="/#/wizard/group/new",ng-click="initializeGroup()",ng-show="$state.current.name.split('.')[0]=='wizard'")
                                a(style="cursor:pointer",ng-href="/#/organizationSetup/group/new",ng-click="initializeGroup()",ng-hide="$state.current.name.split('.')[0]=='wizard'")
                                    span.in-add-sign +
                                    span.in-add-txt Add Group
                    div(style="clear:both",ng-init="getUserGroupList('user',loggedInUser.userSystem[0].id,'','')")
                    .col-xs-12.col-md-3.col-sm-6
                        .div-rules
                            .ul-rules.overflow-auto(style="height:284px;")
                                li(ng-repeat="listItem in groupList" ,ng-click='fillDetails($index)',ng-class="{'active':rule.indx==$index}")
                                    //label.fa.fa-hand-o-right(tooltip="Rule Name")
                                    .in-side-ttl
                                        span {{listItem.name}}
                                    br
                                    label(tooltip="Company Name")
                                    span {{listItem.company| selectFormat}}
                                    br
                                    //label.fa.fa-flag-o(tooltip="Status")
                                    //span.span-red(ng-if="!listItem.isActive") Inactive
                                    //span.span-green(ng-if="listItem.isActive") Active
                            .ul-rules(ng-show='groupList.length==0 && $parent.loader==false')
                                h5.orange No Group List Found :(
                        //.col-sm-6.col-md-4.col-xs-12.inz-blk(ng-repeat="listItem in groupList | orderBy:name",ng-form="subForm", style="margin-bottom:10px;")
                        //    .in-view-block
                        //        .title
                        //            i.fa.fa-tags.small &nbsp;
                        //            | {{listItem.name}}
                        //        .line
                        //            .caption Company
                        //            .data {{listItem.company| selectFormat}}
                        //        .line
                        //            .caption System
                        //            .data {{listItem.system| selectFormat}}
                        //        .line
                        //            .caption Type
                        //            .data {{listItem.type| selectFormat}}
                        //    .in-btn-blk
                        //        .in-btn-grp
                        //            .in-btn-row
                        //                //- button.inz-btn.btn-sm.btn-danger(tool-tip,data-placement="top", data-toggle="tooltip", title="Delete" , ng-click="confirmDeleteGroup(listItem.id)")
                        //                //-         i.fa.fa-trash-o
                        //                button.inz-btn.btn-sm.btn-danger(tool-tip,data-placement="top", data-toggle="tooltip", title="Clone" , ng-click="cloneGroup(listItem.id)")
                        //                    i.fa.fa-copy
                        //                button.inz-btn.btn-sm.btn-danger(tool-tip,data-placement="top", data-toggle="tooltip", title="View" , ng-click="readGroup(listItem.id,'/group/')")
                        //                    i.fa.fa-eye
                        //                button.inz-btn.btn-sm.btn-danger(tool-tip,data-placement="top", data-toggle="tooltip", title="Edit" , ng-click="readGroup(listItem.id,'/group/edit/')")
                        //                    i.fa.fa-edit
                                            //- .in-wiz-footer
                    //-         button.inz-btn.btn-sm.btn-danger(ng-click="prevStep()")
                    //-                 i.fa.fa-long-arrow-left
                    //-                 |  Previous Step
                    //-         button.inz-btn.btn-sm.btn-success(ng-click="nextStep()") Next Step
                    //-                 i.fa.fa-long-arrow-right

            .modal-footer
                button.inz-btn.btn-sm.btn-default(ng-click="close()") Cancel
                button.inz-btn.btn-sm.btn-success(ng-class="{'disabled': form.$invalid}",ng-click="SaveAccountDocsEdit()",ng-disabled="form.$invalid") Save