//
   Created by pallavi.dandane on 10/6/2014.
.col-xs-12.col-md-12.col-sm-12(ng-init="setPreData();editDocProfile();")
    label Name &nbsp;
    label {{data.docProfile.name}} &nbsp;&nbsp;&nbsp;
    //span.red(ng-show="form.docProfileName.$error.required") &nbsp; * &nbsp;
    //span.green.validTick(ng-show="form.docProfileName.$valid") &nbsp; &#10004; &nbsp;

    .btn-group(style="vertical-align: inherit;")
        button.btn-sm.btn-ico.btn-custom.dropdown-toggle.arrow-right(data-toggle='dropdown', type='button' ,tooltip="Configuration Mode",tooltip-placement="top")
            i.fa.fa-angle-down
            | &nbsp; Mode
        .dropdown-menu.filter-ddm.arrow-right.dropdown-caret(aria-labelledby='btnGroupVerticalDrop1', role='menu')
            table
                tbody
                    tr(ng-repeat="type in data.profileBase")
                        td(style="padding:0px 10px;") {{type.label}}
                        td {{type.value[0].n}}
    div(style="clear:both;height:3px;")
    //.row
    //    .col-xs-12.col-sm-12.col-md-12
    //        button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',ng-click="addDocument()",tool-tip,data-placement="top", data-toggle="tooltip", title="Add Document")
    //            i.fa.fa-plus

    .col-xs-12.col-sm-6.col-md-4
        table.inz-table.inz-table1
            thead
                th Document Name
                    //button.command.light(ng-click="documents.push({doc:null,isMandatory: false});",tool-tip,data-placement="top", data-toggle="tooltip", title="Add Document")
                    //    i.fa.fa-plus.greenplus
                    //| &nbsp;
                th  Is Mandatory
            tbody
                tr(ng-repeat="field in documents ")
                    td
                        div(ng-form="subForm3")
                            //button.command(ng-click="documents.splice($index,1);fieldKeyChangedDocuments();",tool-tip,data-placement="top", data-toggle="tooltip", title="Remove Document")
                            //    i.fa.fa-minus.redminus(ng-hide="field.readOnly")
                            //    i.fa.fa-minus.grey(ng-show="field.readOnly")
                            span.input-large1.form-section
                                lable {{field.doc.n}}
                    td
                        span.red(ng-hide="field.isMandatory") X
                        span.green.validTick(ng-show="field.isMandatory") &nbsp; &#10004; &nbsp;
                        //span.input-large100
                        //    input(id="chk",type='checkbox', checked="field.isMandatory", ng-readonly="true")





