//  Created by pallavi.dandane on 9/24/2014.

form(novalidate,name="form")
    .col-xs-12.col-md-12.col-sm-12(ng-init="setPreData();editDocProfile();")
        label Name &nbsp;
        input(placeholder="Name", ng-model="data.docProfile.name",type='text',ng-required="true",name="docProfileName")
        span.red(ng-show="form.docProfileName.$error.required") &nbsp; * &nbsp;
        span.green.validTick(ng-show="form.docProfileName.$valid") &nbsp; &#10004; &nbsp;

        .btn-group(style="vertical-align: inherit;")
            button.btn-sm.btn-ico.btn-custom.dropdown-toggle.arrow-right(data-toggle='dropdown', type='button' ,tooltip="Configuration Mode",tooltip-placement="top")
                i.fa.fa-angle-down
                | &nbsp; Mode
            .dropdown-menu.filter-ddm.arrow-right.dropdown-caret(aria-labelledby='btnGroupVerticalDrop1', role='menu')
                table
                    tbody
                        tr(ng-repeat="type in data.profileBase")
                            td(style="padding:0px 10px;") {{type.label}}
                            td
                                dynamic-Select(name="TypeValue_{{$index}}",ng-model="type.value",ph="{{type.suggestionsSource}}",placeholder="Please Select")
    div(style="clear:both;height:3px;")
    //.row
    //    .col-xs-12.col-sm-12.col-md-12
    //        button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',ng-click="addDocument()",tool-tip,data-placement="top", data-toggle="tooltip", title="Add Document")
    //            i.fa.fa-plus

    .col-xs-12.col-sm-6.col-md-4
        table.inz-table.inz-table1
            thead
                th
                    button.command.light(ng-click="data.document.push({doc:null,isMandatory: false});",tool-tip,data-placement="top", data-toggle="tooltip", title="Add Document")
                        i.fa.fa-plus.greenplus
                    | &nbsp; Document Name
                th  Is Mandatory
            tbody
                tr(ng-repeat="field in data.document ")
                    td
                        div(ng-form="subForm3")
                            button.command(ng-click="data.document.splice($index,1);fieldKeyChangedDocuments();",tool-tip,data-placement="top", data-toggle="tooltip", title="Remove Document")
                                i.fa.fa-minus.redminus(ng-hide="field.readOnly")
                                i.fa.fa-minus.grey(ng-show="field.readOnly")
                            span.input-large1.form-section(ng-class='{ invalidEle: subForm3.dname.$invalid}')
                                dynamic-Select.input-large1(name='dname',customobj='{"selected":"{{selectedFields.join()}}","type":"parameter"}',ng-model="field.doc",ph="documentName",data-placeholder="Document",change="updateSelectedList();")
                    td
                        span.input-large100
                            input(id="chk",type='checkbox',ng-click="setMandatoryTrue($index,$event)",auto-fill-sync)



//form(novalidate,name="form")
//.row(ng-init="setPreData();editDocProfile();")
//    .col-xs-12
//        .doc-block
//            .title.strip Document Details
//    .col-xs-12
//        .row
//            .col-sm-3
//                div.input-group.non-valid.form-section
//                    span.input-group-addon Name
//                    input(placeholder="Name", ng-model="data.docProfile.name",type='text',ng-required="true",name="docProfileName")
//            .col-sm-3
//                .pull-right.in-add
//                    .btn-group.pull-right(style="vertical-align: inherit;")
//                        button.btn-sm.btn-ico.btn-custom.dropdown-toggle.arrow-right(data-toggle='dropdown', type='button' ,tooltip="Configuration Mode",tooltip-placement="top")
//                            i.fa.fa-angle-down
//                            | &nbsp; Mode
//                        ul.dropdown-menu.filter-ddm.arrow-right.dropdown-caret(aria-labelledby='btnGroupVerticalDrop1', role='menu')
//                            li
//                                table
//                                    tbody
//                                        tr(ng-repeat="type in data.profileBase")
//                                            td(style="padding:0px 10px;") {{type.label}}
//                                            td
//                                                dynamic-Select(name="TypeValue_{{$index}}",ng-model="type.value",ph="{{type.suggestionsSource}}",placeholder="Please Select")
//div(style="clear:both;height:5px;")
////.row
////    .col-xs-12.col-sm-12.col-md-12
////        button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',ng-click="addDocument()",tool-tip,data-placement="top", data-toggle="tooltip", title="Add Document")
////            i.fa.fa-plus
//.row
//    .col-xs-12.col-sm-6.col-md-6
//        table.inz-table.inz-table1
//            thead
//                th
//                    button.command.light(ng-click="documents.push({doc:null,isMandatory: false});",tool-tip,data-placement="top", data-toggle="tooltip", title="Add Document")
//                        i.fa.fa-plus.greenplus
//                    | &nbsp; Document Name
//                th  Is Mandatory
//            tbody
//                tr(ng-repeat="field in documents ")
//                    td
//                        div(ng-form="subForm3")
//                            button.command(ng-click="documents.splice($index,1);fieldKeyChangedDocuments();",tool-tip,data-placement="top", data-toggle="tooltip", title="Remove Document",ng-disabled="field.readOnly")
//                                i.fa.fa-minus.redminus(ng-hide="field.readOnly")
//                                i.fa.fa-minus.grey(ng-show="field.readOnly")
//                            span.input-large1.form-section(ng-class='{ invalidEle: subForm3.dname.$invalid}')
//                                dynamic-Select.input-large1(required,name='dname',ng-model="field.doc",ph="documentName",data-placeholder="Document",change="fieldKeyChangedDocuments($index,field);",ng-readonly="{{field.readOnly}}")
//                    td
//                        span.input-large100
//                            input(required,id="chk",type='checkbox',ng-click="setMandatoryTrue($index,$event)",ng-disabled="field.readOnly",auto-fill-sync)
//
