//   Created by avinash.kumar on 8/14/14.
div(style="clear:both;height:5px;")
.row
    .col-md-6.col-sm-6.col-xs-12
        .pull-left
            label Profile Type &nbsp;
            input.input-large(type="text")
    .col-md-6.col-sm-6.col-xs-12
        .pull-right
            label User &nbsp;
            input.input-large(type="text")
div(style="clear:both;height:5px;")
.row
    .col-xs-12.col-sm-12.col-md-12
        // handson table place here