.row.in-wiz-ttl(ng-show="$state.current.name.split('.')[0]=='wizard'")
        .col-md-9.col-sm-8
                .in-wiz-info Welcome to location configurations. You can add / configure / edit the locations that you operate in and link your locations profile with your system.
                .in-wiz-info Welcome to location configurations. You can add / configure / edit the locations that you operate in and link your locations profile with your system.
                i.icon-spinner.icon-spin.blue.icon-large(ng-show="templateLoader")
        .col-md-3.col-sm-4.in-add

.row.in-wiz-ttl.in-fix-scroll(style="background:#eee;",ng-hide="$state.current.name.split('.')[0]=='wizard'")
    .col-xs-12.in-add
        .pull-left.in-wiz-info New Location
        i.icon-spinner.icon-spin.blue.icon-large(ng-show="templateLoader")
        a.inz-btn.btn-sm.btn-default(ng-click="redirectTo('/location/view')") Cancel
        button.inz-btn.btn-sm.btn-success(type="submit",ng-class="{'disabled': form.$invalid}",ng-disabled="form.$invalid",ng-click="createLocation(location)") Save Changes

div 
        form(name="form",novalidate,ng-init="location={}")
                div.in-wiz-row
                        label.control-label Location Profile Name                   
                        .controls
                                        input(type="text", name="locationName", duplicate="locationProfile", ng-model="location.profileName", placeholder="Location Profile Name",required ,ng-pattern=/^[a-zA-Z0-9]+$/,ng-trim,ng-maxlength="256")
                                        span.help-inline.required(ng-show="form.locationName.$error.required") *
                                        span.validTick(ng-show="form.locationName.$valid") &#10004;
                                        span(ng-show="form.locationName.$error.duplicate") Location Profile exists.
                                        span(ng-show="form.locationName.$error.maxlength") Maximum length 256.
                                        span(ng-show="form.locationName.$error.pattern") only Alphanumeric characters.                                       
                                        
                div.in-wiz-row
                        label.control-label Attach System 
                        .controls

                                        dynamic-Select(required,multiselect,enterchoice,quickcreation,name="systemList",ng-model="location.systemList",ph="unlinkedLocationSystem",data-placeholder="Enter System")                                       
                                        span(ng-show="form.systemList.$error.required") *
                                        span.validTick(ng-show="form.systemList.$valid") &#10004;

                .in-wiz-footer    
                        a.inz-btn.btn-sm.btn-danger(href="#/wizard/system/view")
                                i.fa.fa-long-arrow-left     
                                |  Previous Step
                        a.inz-btn.btn-sm.btn-default(href="#/wizard/location/view") Cancel    
                        button.inz-btn.btn-sm.btn-success(type="submit",ng-disabled="form.$invalid",ng-class="{'disabled': form.$invalid}",ng-click="createLocation(location)") Save Changes