.row.in-wiz-ttl.in-fix-scroll(ng-init="getMetadataList('')")
    .col-xs-12.in-add
        .pull-left.in-wiz-info Metadata
        i.icon-spinner.icon-spin.blue.icon-large(ng-show="templateLoader")
        input.in-query(placeholder="Search Account",ng-model="q")
        button.in-query
            i.fa.fa-search
        a(style="vertical-align: middle;",ng-click="redirectTo('/metadata/new')",style="cursor:pointer")
            span.in-add-sign +
            span.in-add-txt Add Metadata {{q}}
.row
    .col-sm-6.col-md-6.col-lg-4.inz-blk(ng-repeat="ListItem in metadataTypes | filter:{profileName:q} | orderBy:title",ng-form="subForm", style="margin-bottom:30px;")
        .in-view-block
            .title {{ListItem.profileName}}
            .line
                .caption System
                .data {{ListItem.systemList| selectFormat}}
        .in-btn-blk
            .in-btn-grp
                .in-btn-row
                    button.inz-btn.btn-sm.btn-danger(tool-tip,data-placement="top", data-toggle="tooltip", title="Delete" , ng-click="confirmDeleteProfile(ListItem.id)")
                        i.fa.fa-trash-o
                    button.inz-btn.btn-sm.btn-danger(tool-tip,data-placement="top", data-toggle="tooltip", title="Edit" , ng-click="editViewTemplete(ListItem)")
                        i.fa.fa-pencil
.in-wiz-footer
    button.inz-btn.btn-sm.btn-danger(ng-click="prevStep()")
        i.fa.fa-long-arrow-left
        | Previous Step
    button.inz-btn.btn-sm.btn-success(ng-click="nextStep()") Next Step
        i.fa.fa-long-arrow-right
