.row.in-wiz-ttl.in-fix-scroll(set-width, ng-init="viewNotification()")
    //form(name="form",novalidate)
    .col-xs-12.col-md-12.col-sm-12
        .pull-left
            .in-wiz-info Notification
        .pull-right
            a.inz-btn.btn-sm.btn-default( ng-href="/#/organizationSetup/notification/view") Back

include emailTemplateDetail