.row.in-wiz-ttl.in-fix-scroll(set-width,ng-init="setData();clear()")
    .col-xs-12.col-md-12.col-sm-12
        .pull-left
            .in-wiz-info Notification
        .pull-right
            a.inz-btn.btn-sm.btn-default( ng-href="/#/organizationSetup/notification/view") Back
            button.inz-btn.btn-sm.btn-success(type="submit",ng-class="{'disabled': form.$invalid}",  ng-disabled="form.$invalid",  ng-click="saveData()") Save Changes
.col-md-12.col-sm-12.col-xs-12
    .ds-tree
        .row
            .col-md-6.col-sm-12.col-xs-12
                div.input-group
                    span.input-group-addon Module
                    dynamic-Select(name="module",ng-model="data.module",change="moduleChange(data.module[0].n)",customobj='{"type":"module"}',ph="metadata_Events",placeholder="Module",ng-required="false")
            .col-md-6.col-sm-12.col-xs-12
                div.input-group
                    span.input-group-addon Event
                    dynamic-Select(name="event",ng-model="data.event",customobj='{"module":"{{data.module[0].n}}"}',ph="metadata_Events",placeholder="Event",ng-required="false")
include emailTemplate

