.col-md-8
        form.form-horizontal(novalidate, name="form")
                .fieldset
                        .fluid-row
                                .btn-group.pull-right
                                        a.btn.btn-sm.btn-primary(ng-hide="accountCreateLoader", ng-click="backToList()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply
                                        button.btn.btn-sm.btn-primary(permission="createProfile.*.*", ng-hide="profileCreateLoader", ng-disabled="form.$invalid", type="submit", ng-click="create(profile)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="profileCreateLoader")
                        tabset
                                tab.tab(heading="Profile",style="overflow:hidden")
                                        ng-form(name="form2")
                                                .form-group
                                                        label.control-label Company Name
                                                        .col-sm-9
                                                                input(type="text", name="companyName", ng-model="profile.companyName", placeholder="Company Name",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.companyName.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.companyName.$valid") &#10004;
                                                .form-group
                                                        label.control-label Company Headquarters City
                                                        .col-sm-9
                                                                input(type="text", name="companyHeadquartersCity", ng-model="profile.companyHeadquartersCity", placeholder="Company Headquarters City",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.companyHeadquartersCity.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.companyHeadquartersCity.$valid") &#10004;
                                                .form-group
                                                        label.control-label Name
                                                        .col-sm-9
                                                                input(type="text", name="name", ng-model="profile.name", placeholder="Name",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.name.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.name.$valid") &#10004;
                                                .form-group
                                                        label.control-label Vender #
                                                        .col-sm-9
                                                                input(type="text", name="venderNo", ng-model="profile.venderNo", placeholder="Vender Number",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.venderNo.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.venderNo.$valid") &#10004;
                                                .form-group
                                                        label.control-label Pay to
                                                        .col-sm-9
                                                                input(type="text", name="payTo", ng-model="profile.payTo", placeholder="Pay to",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.payTo.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.payTo.$valid") &#10004;
                                                .form-group
                                                        label.control-label Payment Mode
                                                        .col-sm-9
                                                                input(type="text", name="paymentMode", ng-model="profile.paymentMode", placeholder="Payment Mode",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.paymentMode.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.paymentMode.$valid") &#10004;
                                                .form-group
                                                        label.control-label Department
                                                        .col-sm-9
                                                                input(type="text", name="department", ng-model="profile.department", placeholder="Department",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form2.department.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form2.department.$valid") &#10004;
                                tab.tab(heading="Contact Info",style="overflow:hidden")
                                        ng-form(name="form3")
                                                .form-group
                                                        label.control-label Phone
                                                        .col-sm-9
                                                                input(type="text", name="phone", ng-model="profile.phone", placeholder="Phone",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.phone.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.phone.$valid") &#10004;
                                                .form-group
                                                        label.control-label Mobile
                                                        .col-sm-9
                                                                input(type="text", name="mobile", ng-model="profile.mobile", placeholder="Mobile",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.mobile.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.mobile.$valid") &#10004;
                                                .form-group
                                                        label.control-label Fax
                                                        .col-sm-9
                                                                input(type="text", name="fax", ng-model="profile.fax", placeholder="Fax",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.fax.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.fax.$valid") &#10004;
                                                .form-group
                                                        label.control-label Email
                                                        .col-sm-9
                                                                input(type="text", name="email", ng-model="profile.email", placeholder="Email",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.email.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.email.$valid") &#10004;
                                                .form-group
                                                        label.control-label Address 1
                                                        .col-sm-9
                                                                input(type="text", name="address1", ng-model="profile.address1", placeholder="Address 1",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.address1.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.address1.$valid") &#10004;
                                                .form-group
                                                        label.control-label Address 2
                                                        .col-sm-9
                                                                input(type="text", name="address2", ng-model="profile.address2", placeholder="Address 2",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.address2.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.address2.$valid") &#10004;
                                                .form-group
                                                        label.control-label Location
                                                        .col-sm-9
                                                                input(type="text", name="location", ng-model="profile.location", placeholder="Location",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.location.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.location.$valid") &#10004;
                                                .form-group
                                                        label.control-label State
                                                        .col-sm-9
                                                                input(type="text", name="state", ng-model="profile.state", placeholder="State",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.state.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.state.$valid") &#10004;
                                                .form-group
                                                        label.control-label Zipcode 
                                                        .col-sm-9
                                                                input(type="text", name="zipcode", ng-model="profile.zipcode", placeholder="Zipcode",style="width:200px", required)
                                                                label.help-inline.required(ng-show="form3.zipcode.$error.required") *
                                                                label.help-inline.required.validTick(ng-show="form3.zipcode.$valid") &#10004;