.offset1.col-md-8
        form.form-horizontal(novalidate, name="form")
                .fieldset                      
                         .row                                          
                                .pull-right
                                        a.btn.btn-primary.btn-margin.btn-xs(onClick="window.history.back()",bs-tooltip="tooltip.back", style="cursor: pointer;") 
                                                i.icon-mail-reply.icon-largeasd
                                        button.btn.btn-primary.btn-margin.btn-xs(ng-disabled="form.$invalid",bs-tooltip="tooltip.sendRequest", style="cursor: pointer;",ng-click="create(selection,weightBracketFields,selectedChargeType,selectedRateQualifier,$stateParams.accountId,$stateParams.templateId,comment)") 
                                                i.icon-ok.icon-large                                             
                                legend New Rate Request
                                        | &nbsp; &nbsp; 
                                        i.icon-spinner.icon-spin.icon-large(ng-show="userUpdateLoader")                                             
              
                .form-group(ng-repeat="row in defaultFields" ,ng-switch="row.n")
                        label.control-label {{row.n | toHumanReadable}}
                        .col-sm-9                                
                                dynamic-Element( ng-model="selection[row.n]",ph="{{row.n}}",value='{{selection[row.n]}}',required)
                                label.help-inline.required(ng-show="form.{{row.n}}.$error.required") *
                                //label.help-inline.required(ng-show="form.{{row.n}}.$valid", class="validTick") &#10004;
                                label.help-inline
                                        a.close(ng-click="removeFromList($index)") &times;   
                .form-group                        
                        label.control-label Charge Type                                
                        .col-sm-9 
                                input(ui-select2="chargeTypeBar", name="chargeType",placeholder="Please Select", ng-model="selectedChargeType", style="width:200px", required)
                                label.help-inline.required(ng-show="form.chargeType.$error.required") * 
                                //label.help-inline.required(ng-show="form.chargeType.$valid", class="validTick") &#10004;                               

                .form-group                        
                        label.control-label Rate Qualifier
                        .col-sm-9
                                select(ui-select2="{allowClear: true}", name="rateQualifier", ng-model="selectedRateQualifier", data-placeholder="Please select...", style="width:200px", required)
                                        option(value="")
                                        option(ng-repeat="row in rateQualifier", value='{{row.id}}') {{row.val}}
                                label.help-inline.required(ng-show="form.rateQualifier.$error.required") *  
                                label.help-inline.required.validTick(ng-show="form.rateQualifier.$valid") &#10004;              
               
                .form-group                        
                        label.control-label Weight Brackets
                        .offset2    
                                .row(ng-repeat="row in weightBracketFields")
                                        ng-form(name="weightBracketForm")                                            
                                                
                                                input.col-md-1(type="text", ui-event="{ blur : 'weightBracketCallback(\"s\",$index)'}", name="s", ng-model="weightBracketFields[$index]['s']", placeholder="{{row.sph}}", required)
                                                //- label.help-inline.required(ng-show="weightBracketForm.s.$error.required") *
                                                
                                                input.col-md-1(type="text", ui-event="{ blur : 'weightBracketCallback(\"e\",$index)'}", name="e", ng-model="weightBracketFields[$index]['e']", placeholder="{{row.eph}}", required)
                                                //- label.help-inline.required(ng-show="weightBracketForm.e.$error.required") *
                                                
                                                input.col-md-1(type="text", name="v", ng-model="weightBracketFields[$index]['v']", placeholder="Value", required)
                                                
                                                label.help-inline.required(ng-show="weightBracketForm.v.$error.required") *
                                                label.help-inline.required.validTick(ng-show="weightBracketForm.v.$valid") &#10004;
                                                label.help-inline
                                                        a.close(ng-hide="$index == 0 || $index + 1 <  weightBracketFields.length ", ng-click="removeFromWeightBracketFields($index)") &times;
                .form-group
                        label.control-label Comments
                        .col-sm-9
                                textarea(rows=3, name="rateComments", ng-model="comment", placeholder="Comments",required)
                                label.help-inline.required(ng-show="form.rateComments.$error.required") *
                                label.help-inline.required.validTick(ng-show="form.rateComments.$valid") &#10004;   
                .form-group
                        label.control-label More Fields
                        .col-sm-9
                                select(ui-select2="{'closeOnSelect':false}",multiple="true", ng-change="appendToList(currentSelectedField)", name="workflowMode", ng-model="currentSelectedField", data-placeholder="Please select...", style="width:200px")
                                       
                                        option(ng-repeat="field in otherFieldsList", value="{{field}}") {{field.n}}                                 