link(rel="stylesheet", type="text/css", href="/styles/loader.css")
.wrapperloading(ng-init="message='Please wait we are confirming your registration.'; confirm()")
	.loading.up
	.loading.down
	.loading.center
	.loading.text z

	.loading.title Redirecting! Please be patient
