//Created by kamalsingh.saini on 22/1/14.
.row
    .col-xs-10.in-title selection criteria
    .col-xs-10
        .in-wiz-row
            label.control-label Clone from Account No.:
            .controls
                //dynamic-Select(name="accountNumber",ng-model="clone.accountid",ph="accountNumber",customobj='{"templateId":"{{templateData.templateId}}"}',toolTip="Account Number",placeholder="Account Number",change="getFields()")
.row