.col-md-4(id="FixedRate")
        fluid-row
                h4.header.smaller.lighter.gray Shipments   
                        i.icon-spinner.icon-spin.icon(ng-show="rateRequestListLoader")           
        div(ng-hide="categorizedLists.length || rateRequestListLoader")
                h4
                        | No shipment data available under this category.
                        i.icon-frown

        .widget-box.transparent(ng-show="categorizedLists.length")              
                .widget-body
                        .widget-main.no-padding
                                table.table.table-bordered.table-striped.table-hover(ng-hide="!categorizedLists.length || rateRequestListLoader")
                                        thead
                                                    tr
                                                        th
                                                                i.icon-flag.black &nbsp Shipper
                                                        th 
                                                                i.icon-time.black &nbsp Consignee                                                                                                        
                                                        th.hidden-767 
                                                                i.icon-group.black &nbsp Ship Date  

                                        tbody(ng-repeat="r in categorizedLists  | filter:searchFilter")
                                                        tr(data-placement="bottom", permission="readInvoice.*.*", style="cursor: pointer;", bs-tooltip="tooltip.detail", ng-class="{'alert-custom': $state.includes('payright.invoiceList.detail') && $stateParams.invoiceId == r.id}", ng-click="readShipment(r.id)")
                                                                td
                                                                        {{r.shipperName}}
                                                                td
                                                                        {{r.consigneeName}}
                                                                                               
                                                                td.hidden-767
                                                                        .center
                                                                                {{r.shipmentDate}}
 .col-md-8
    div(ui-view="detail")