link(rel="stylesheet", type="text/css", href="/styles/global.css")
	//-link(rel="stylesheet", type="text/css", href="/styles/home2.css")

//- link(rel="stylesheet", type="text/css", href="/styles/bootstrap-responsive.css")
//- link(rel="stylesheet", type="text/css", href="/styles/todc-bootstrap.css")
//- link(rel="stylesheet", type="text/css", href="/styles/docs.css")

//- link(rel="stylesheet", type="text/css", href="/components/angular-ui/build/angular-ui.css")

//- link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Cantata+One")
//- link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Muli")
	
//- link(rel="stylesheet", type="text/css", href='/styles/test.css')
//- link(rel="stylesheet", type="text/css", href='/styles/toastr.css')

//- link(rel="stylesheet", type="text/css", href="/styles/select2.css")
link(rel="stylesheet", type="text/css", href='/scripts/vendor/Handsontable/jquery.handsontable.full.css')
link(rel="stylesheet", type="text/css", href='/scripts/vendor/Handsontable/jquery.handsontable.custom.css')
link(rel="stylesheet", type="text/css", href='/scripts/vendor/Handsontable/jquery-ui.custom.css')
link(rel="stylesheet", type="text/css", href='/scripts/vendor/jvectormap/jquery-jvectormap-1.2.2.css')

link(rel="stylesheet", type="text/css", href='/styles/jquery.orgchart.css')
link(rel="stylesheet", type="text/css", href='/styles/summernote.css')
link(rel="stylesheet", type="text/css", href='/styles/smart-table.css')
link(rel="stylesheet", type="text/css", href='/styles/smart-table.css')
link(rel="stylesheet", type="text/css", href='/styles/chosen.css')
link(rel="stylesheet", type="text/css", href='/styles/ui-layout.css')
link(rel="stylesheet", type="text/css", href='/styles/angularLoader.css')


link(rel="apple-touch-icon-precomposed", sizes="144x144", href='/styles/assets/ico/apple-touch-icon-144-precomposed.png')
link(rel="apple-touch-icon-precomposed", sizes="114x114", href='/styles/assets/ico/apple-touch-icon-114-precomposed.png')
link(rel="apple-touch-icon-precomposed", sizes="72x72", href='/styles/assets/ico/apple-touch-icon-72-precomposed.png')
link(rel="apple-touch-icon-precomposed", sizes="57x57", href='/styles/assets/ico/apple-touch-icon-57-precomposed.png')
link(href='https://fonts.googleapis.com/css?family=Oxygen' ,rel='stylesheet' ,type='text/css')
