
.row.in-wiz-ttl.fix-scroll(ng-show="$state.current.name.split('.')[0]=='wizard'")
    .col-md-9.col-sm-8
        .in-wiz-info Welcome to system configuration. You can add / configure / edit your systems here and link your systems with the company that operates on it.
    .col-md-3.col-sm-4.in-add
        i.icon-spinner.icon-spin.blue.icon-large(ng-show="systemUpdateLoader")
        a(permission="editTemplateSystem",ng-click="openDialogUpdateTemplate(system)", href="javascript:void(0);", style="margin-right:15px")
            span.in-add-sign +
            span.in-add-txt Add / modify fields


.row.in-wiz-ttl.in-fix-scroll(ng-hide="$state.current.name.split('.')[0]=='wizard'",set-width)
    .col-xs-12.col-sm-12.col-md-12
        .pull-left
            .in-wiz-info Edit system
        .pull-right
            i.icon-spinner.icon-spin.blue.icon-large(ng-show="systemUpdateLoader")
            a(permission="editTemplateSystem",ng-click="openDialogUpdateTemplate(system)", href="javascript:void(0);", style="margin-right:15px")
                span.in-add-sign +
                span.in-add-txt Add / Modify Fields
            a.inz-btn.btn-sm.btn-default(permission="listSystem",ng-click="redirectTo('/system/view')") Cancel
            button.inz-btn.btn-sm.btn-success(permission="editSystem",type="submit",ng-class="{'disabled': mainForm2.$invalid}",ng-disabled="mainForm2.$invalid",ng-click="update()") Save Changes

div(style="clear:both;",ng-init="systemEditView($routeParams.systemId)")
form(name="mainForm2",novalidate)
    .col-md-6.col-sm-12.col-xs-12(ng-repeat="item in system.fields",ng-form="subForm",ng-show="{{item.isActive}}",ng-switch="{{item.isActive}}")
        label.input-medium {{item.label}}
        label(ng-switch-when="true", ng-switch='item.type')
            input.input-large(ng-switch-when='text',unique="{{item.key}},{{item.isUniqueField}},system,{{$routeParams.systemId}}",type="text",ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
            input.input-large(ng-switch-when='date',unique="{{item.key}},{{item.isUniqueField}},system,{{$routeParams.systemId}}",datepicker-popup="{{format}}",datepicker-options="dateOptions",,name="name",type="text",ng-model="item.value",is-open="opened",ng-required="item.isMandatory",close-text="Close",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
            input.input-large(ng-switch-when='numeric',unique="{{item.key}},{{item.isUniqueField}},system,{{$routeParams.systemId}}",type="number",ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
            dynamic-Select.input-large(ng-switch-when='multiselect',multiselect,ng-required="item.isMandatory",name="name",ng-model="item.value",ph="{{item.suggestionsSource}}",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}",placeholder="{{item.toolTip}}")
            dynamic-Select.input-large(ng-switch-when='dropdown',ng-required="item.isMandatory",name="name",ng-model="item.value",ph="{{item.suggestionsSource}}",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}",placeholder="{{item.toolTip}}")
            textarea.input-large(ng-switch-when='multiline',columns=5,rows=3,ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
            span.red(ng-show="subForm.name.$error.required") *
            span.red(ng-show="subForm.name.$error.number") only numbers
            span.red(ng-show="subForm.name.$error.unique") already Exists
            span.red(ng-show="subForm.name.$error.date") only date
            span.red(ng-show="subForm.name.$error.maxlength") max length is {{item.length}}
            span.red(ng-show="subForm.name.$error.pattern") Can contain only text
            span.green.validTick(ng-show="subForm.name.$valid") &#10004;
    .in-wiz-footer
        a.inz-btn.btn-sm.btn-default(permission="listSystem",href="#/wizard/system/view") Cancel
        button.inz-btn.btn-sm.btn-success(permission="editSystem",type="submit",ng-class="{'disabled': mainForm2.$invalid}",ng-disabled="mainForm2.$invalid",ng-click="update()") Save
div(style="clear:both;")
.row(permission="historyViewSystem")
    h3.header.smaller.lighter.red
        i.fa.fa-search-plus &nbsp;
        | History
    i.icon-spinner.icon-spin.blue.icon-small(ng-show="historyLoader")
.row.history-block(permission="historyViewSystem")
    div(ng-show="historyTemp.count<=0")
        label.red No history available
    .col-xs-12.col-sm-12.col-md-6(ng-repeat="obj in historyTemp.history",data-accordion="",data-close-others="false",ng-show="historyTemp.count>0")
        div(data-accordion-group="",data-heading="{{obj.emailID}}",data-date="{{obj.timestamp}}",ng-click="getHistory($index,obj)")
            div.line(ng-repeat="row1 in obj.historyData.fields",ng-switch='row1.type')
                .caption {{row1.label}}
                .data(ng-switch-when='text') {{row1.value}}
                .data(ng-switch-when='dropdown') {{row1.value[0].n}}
                .data(ng-switch-when='multiselect') {{row1.value | selectFormat}}
    .col-xs-12.col-md-12.col-sm-12
        .pull-right
            button.inz-btn.btn-sm.btn-success(type="submit",ng-click="loadMoreHistory()",ng-show="historyTemp.count>0 && showLoadmore",ng-class="{'disabled': disableLoadmore}",ng-disabled="disableLoadmore") Load More