.row.in-wiz-ttl(ng-show="$state.current.name.split('.')[0]=='wizard'")
    .col-md-9.col-sm-8
        .in-wiz-info Welcome to system configuration. You can add / configure / edit your systems here and link your systems with the company that operates on it.
    .col-md-3.col-sm-4.in-add
        i.icon-spinner.icon-spin.blue.icon-large(ng-show="systemCreateLoader")
        a(permission="editTemplateSystem",ng-click="openDialog(systemData)", href="javascript:void(0)")
            span.in-add-sign +
            span.in-add-txt Add / modify fields

.row.in-wiz-ttl.in-fix-scroll(set-width,ng-hide="$state.current.name.split('.')[0]=='wizard'")
    .col-xs-12.col-sm-12.col-md-12
        .pull-left
            .in-wiz-info New system
        .pull-right
            i.icon-spinner.icon-spin.blue.icon-large(ng-show="systemCreateLoader")
            a(permission="editTemplateSystem",ng-click="openDialog(systemData)", href="javascript:void(0);", style="margin-right:15px")
                span.in-add-sign +
                span.in-add-txt Add / Modify Fields
            a.inz-btn.btn-sm.btn-default(permission="listSystem",ng-click="redirectTo('/system/view');") Cancel
            button.inz-btn.btn-sm.btn-success(permission="createSystem",type="submit",ng-class="{'disabled': mainForm2.$invalid}",ng-disabled="mainForm2.$invalid",ng-click="create(systemData)") Save Changes
div(style="clear:both")
div(ng-init="initialize()")
    form(name="mainForm2",novalidate)
        .col-md-6.col-sm-12.col-xs-12(ng-repeat="item in systemData.fields| orderBy:'displayOrder'",ng-form="subForm",ng-show="{{item.isActive}}",ng-switch="{{item.isActive}}")
            label.input-medium {{item.label}}
            label(ng-switch-when="true", ng-switch='item.type')
                input.input-large(ng-switch-when='text',unique="{{item.key}},{{item.isUniqueField}},system",type="text",ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                input.input-large(ng-switch-when='date',datepicker-popup="{{format}}",datepicker-options="dateOptions",,name="name",type="text",ng-model="item.value",is-open="opened",ng-required="item.isMandatory",close-text="Close",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                input.input-large(ng-switch-when='numeric',unique="{{item.key}},{{item.isUniqueField}},system",type="number",ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                dynamic-Select(ng-switch-when='multiselect',multiselect,ng-required="item.isMandatory",name="name",ng-model="item.value",ph="{{item.suggestionsSource}}",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}",placeholder="{{item.toolTip}}")
                dynamic-Select(ng-switch-when='dropdown',ng-required="item.isMandatory",name="name",ng-model="item.value",ph="{{item.suggestionsSource}}",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}",placeholder="{{item.toolTip}}")
                textarea.input-large(ng-switch-when='multiline',columns=5,rows=3,ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                span.red(ng-show="subForm.name.$error.required") *
                span.red(ng-show="subForm.name.$error.unique") already Exists
                span.red(ng-show="subForm.name.$error.number") only numbers
                span.red(ng-show="subForm.name.$error.date") only date
                span.red(ng-show="subForm.name.$error.maxlength") max length is {{item.length}}
                span.red(ng-show="subForm.name.$error.pattern") Can contain only text
                span.green.validTick(ng-show="subForm.name.$valid") &#10004;
.in-wiz-footer
    //- button.inz-btn.btn-sm.btn-danger() Skip This Step
    // i.icon-double-angle-right
    //- button.inz-btn.btn-sm.btn-default() Cancel
    a.inz-btn.btn-sm.btn-danger(href="#/wizard/company/view")
        i.fa.fa-long-arrow-left
        |  Previous Step
    a.inz-btn.btn-sm.btn-default(permission="listSystem",href="#/wizard/system/view") Cancel
    button.inz-btn.btn-sm.btn-success(permission="createSystem",type="submit",ng-class="{'disabled': mainForm2.$invalid}",ng-disabled="mainForm2.$invalid",ng-click="create(systemData)") Save Changes