
//-   Created by shridhar.punalkar on 1/31/14.

//- .row.rule(style="padding-left:0;")
//-     .col-md-12.sub-condition
//-         .inz-chk
//-             input(type="checkbox", id="testlbl", class="btn-opt")
//-             label(for="testlbl", class="btn-opt-lbl")
//-         span.text of the rules
//-         button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Sub Condition")
//-             i.fa.fa-plus
//-         button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Condition")
//-             i.fa.fa-chevron-right
//-         button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Condition")
//-             i.fa.fa-trash-o

//-         .row.rule
//-             .col-md-12.condition
//-                 select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Station Name')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-                 select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Assignment')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-                 select.w150(ui-select2='ui-select2',multiple='multiple', ng-model='select2', data-placeholder='Value')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third
//-         .row.rule
//-             .col-md-12.condition
//-                 select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Station Name')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-                 select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Assignment')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-                 select.w150(ui-select2='ui-select2',multiple='multiple', ng-model='select2', data-placeholder='Value')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-         .row.rule
//-             .col-md-12.sub-condition
//-                 .inz-chk
//-                     input(type="checkbox", id="testlbl2", class="btn-opt")
//-                     label(for="testlbl2", class="btn-opt-lbl")
//-                 span.text of the rules

//-                 button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Sub Condition")
//-                     i.fa.fa-plus
//-                 button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Condition")
//-                     i.fa.fa-chevron-right
//-                 button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Condition")
//-                     i.fa.fa-trash-o

//-                 .row.rule
//-                     .col-md-12.condition
//-                         select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Station Name')
//-                             option(value='')
//-                             option(value='one') First
//-                             option(value='two') Second
//-                             option(value='three') Third

//-                         select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Assignment')
//-                             option(value='')
//-                             option(value='one') First
//-                             option(value='two') Second
//-                             option(value='three') Third

//-                         select.w150(ui-select2='ui-select2',multiple='multiple', ng-model='select2', data-placeholder='Value')
//-                             option(value='')
//-                             option(value='one') First
//-                             option(value='two') Second
//-                             option(value='three') Third
//-                 .row.rule
//-                     .col-md-12.condition
//-                         select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Station Name')
//-                             option(value='')
//-                             option(value='one') First
//-                             option(value='two') Second
//-                             option(value='three') Third

//-                         select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Assignment')
//-                             option(value='')
//-                             option(value='one') First
//-                             option(value='two') Second
//-                             option(value='three') Third

//-                         select.w150(ui-select2='ui-select2',multiple='multiple', ng-model='select2', data-placeholder='Value')
//-                             option(value='')
//-                             option(value='one') First
//-                             option(value='two') Second
//-                             option(value='three') Third
//-                 .row.rule
//-                     .col-md-12.sub-condition
//-                         .inz-chk
//-                             input(type="checkbox", id="testlbl3", class="btn-opt")
//-                             label(for="testlbl3", class="btn-opt-lbl")
//-                         span.text of the rules

//-                         button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Sub Condition")
//-                             i.fa.fa-plus
//-                         button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Condition")
//-                             i.fa.fa-chevron-right
//-                         button.btn.btn-sm.inz-btn.btn-success.btn-ico.btn-round(type='button',tool-tip,data-placement="top", data-toggle="tooltip", title="Add Condition")
//-                             i.fa.fa-trash-o
//-         .row.rule
//-             .col-md-12.condition
//-                 select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Station Name')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-                 select.w150(ui-select2='ui-select2', ng-model='select2', data-placeholder='Assignment')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third

//-                 select.w150(ui-select2='ui-select2',multiple='multiple', ng-model='select2', data-placeholder='Value')
//-                     option(value='')
//-                     option(value='one') First
//-                     option(value='two') Second
//-                     option(value='three') Third
