.col-md-9
        form.form-horizontal(novalidate, name="form")                
                .row                        
                         h4.header.smaller.lighter New Tariff
                                .pull-right.btn-group
                                        a.btn.btn-sm.btn-primary(ng-hide="tariffCreateLoader", onClick="window.history.back()", style="cursor: pointer;", bs-tooltip="tooltip.back")
                                                i.icon-mail-reply
                                        button.btn.btn-sm.btn-primary(ng-hide="tariffCreateLoader", ng-disabled="form.$invalid || !IsFileAttached", type="submit", ng-click="create(tariff)", style="cursor: pointer;", bs-tooltip="tooltip.save")
                                                i.icon-ok
                                        i.icon-spinner.icon-spin.icon-2x(ng-show="tariffCreateLoader")   
                .form-group
                    label.control-label Effective Date
                    .controls
                            input(type="text", name="effectiveDate", ng-model="tariff.effectiveDate", placeholder="Effective Date", b-datepicker="{{dateOptions}}", bs-datepicker='bs-datepicker',required)
                            label.help-inline.required(ng-show="form.effectiveDate.$error.required") *
                            label.help-inline.required.validTick(ng-show="form.effectiveDate.$valid") &#10004;  
                .form-group
                    label.control-label Expiry Date
                    .controls
                            input(type="text", name="expiryDate", ng-model="tariff.expiryDate", placeholder="Expiry Date",  b-datepicker="{{dateOptions}}", bs-datepicker='bs-datepicker',required)
                            label.help-inline.required(ng-show="form.expiryDate.$error.required") *
                            label.help-inline.required.validTick(ng-show="form.expiryDate.$valid") &#10004;  
                .form-group
                    label.control-label Received Date
                    .controls
                            input(type="text", name="receivedDate", ng-model="tariff.receivedDate", placeholder="Received Date",  b-datepicker="{{dateOptions}}", bs-datepicker='bs-datepicker')
                .form-group
                    label.control-label Received From
                    .controls
                            input(type="text", name="receivedFrom", ng-model="tariff.receivedFrom", placeholder="Received From", required)
                            label.help-inline.required(ng-show="form.receivedFrom.$error.required") *
                            label.help-inline.required.validTick(ng-show="form.receivedFrom.$valid") &#10004;  
                .form-group
                    label.control-label Comments
                    .controls
                            textarea(rows=3, name="tariffComments", ng-model="tariff.comment", placeholder="Comments")
.col-md-9
        include upload
