.col-md-4(id="FixedRate")
        .row
                h4.header.smaller.lighter.gray Tariffs   
                        i.icon-spinner.icon-spin.icon(ng-show="tmsRequestListLoader")
                                        //- .btn-group.pull-right
                    //-                 a.btn.btn-small.btn-primary(ng-show="oldTmsRequest.length",permission="readTariff.*.*",ng-click='isFilterCollapsed = !isFilterCollapsed')
                    //-                         i.icon-filter(bs-tooltip="tooltip.clickToFilter",data-placement="top")                                       
        div(collapse='isFilterCollapsed')
                .alert.alert-warning
                       fieldset
                                .row
                                        button.close.pull-right(type='button', ng-click='isFilterCollapsed = !isFilterCollapsed') ×
                        form.form-horizontal
                                .form-group
                                    label.control-label Effective on
                                    .controls
                                            input.input-sm(type="text", name="filterEffectiveDate", ng-model="searchFilter.effectiveDate",data-placement="right",placeholder="YYYY-MM-DD",bs-tooltip="tooltip.dateExample")
                                .form-group
                                    label.control-label Expiring on
                                    .controls
                                            input.input-sm(type="text", name="filterExpiryDate", ng-model="searchFilter.expiryDate", value='searchFilter.expiryDate',data-placement="right",placeholder="YYYY-MM-DD",bs-tooltip="tooltip.dateExample")
                                .form-group
                                    label.control-label Status
                                    .controls
                                        select(ui-select2, name="filterActive", ng-model="searchFilter.isActive", data-placeholder="select", style="width:100px")
                                                option(value='',selected="selected") Both
                                                option(value=1) Active
                                                option(value=0) Inactive
        div(permission="readTariff.*.*",ng-show="searchFilter.expiryDate || searchFilter.EffectiveDate || searchFilter.isActive")
                strong.text-black.linkGreen(ng-click='isFilterCollapsed = !isFilterCollapsed',style="cursor: pointer;")  Showing filterd results..
                br
                small.muted(ng-show="searchFilter.isActive==1") Status: Active
                small.muted(ng-show="searchFilter.isActive==0") Status: Inactive
                small.muted(ng-show="searchFilter.effectiveDate") ,Effective: {{searchFilter.effectiveDate | date:'mediumDate'}}
                small.muted(ng-show="searchFilter.expiryDate") ,Expiry: {{searchFilter.expiryDate | date:'mediumDate'}}
        div(ng-hide="oldTmsRequest.length || tmsRequestListLoader")
                h4
                        | No tariff requests available.
                        i.icon-frown
        .widget-box.transparent(ng-show="oldTmsRequest.length") 
                .widget-body
                        .widget-main.no-padding
                                table.table.table-bordered.table-striped.table-hover(ng-hide="!oldTmsRequest.length || tmsRequestListLoader")
                                        thead
                                                tr
                                                        th
                                                                i.icon-time.black &nbsp Account                         
                                                        th
                                                                i.icon-time.black &nbsp Effective  
                                                        th
                                                                i.icon-time.black &nbsp Expiry                          

                                                        th.hidden-767 
                                                                i.icon-paper-clip.black &nbsp Docs.                                                
                                                                 
                                                        th.hidden-767 
                                                                i.icon-flag.black &nbsp Holders  
                                                        th
                                                                i.icon-flag.black &nbsp Status                         
                                        tbody(ng-repeat="r in oldTmsRequest  | filter:searchFilter")                              
                                                tr(data-placement="bottom", permission="readTariff.*.*", style="cursor: pointer;", bs-tooltip="tooltip.detail", href="#/tms/list/{{$stateParams.accountId}}/detail/{{r.id}}",ng-class="{'alert alert-info': $stateParams.requestId == r.id}", ng-click="selectTmsRequest(r.id)")
                                                        td
                                                                {{r.accountName}}
                                                        td
                                                                {{r.effectiveDate  | date:'mediumDate'}}
                                                        td.center
                                                                {{r.expiryDate  | date:'mediumDate'}}
                                                        td.hidden-767
                                                                .center
                                                                        .col-md-(popover-placement="right",popover="{{quickViewAttachments[$index]}}",popover-trigger="mouseenter")   {{r.docId.length}}
                                                        td.hidden-767
                                                            .center
                                                                .col-md-(popover-placement="left",popover="{{CurrentStackHolder[$index]}}",popover-trigger="mouseenter")   {{r.workflowUsers.length}}
                                                        td
                                                                .center
                                                                        span.label.label-success.arrowed-in.arrowed-in-right(ng-show="r.isActive==1") Active
                                                                        span.label.label-important.arrowed(ng-show="r.isActive==0") Inactive      
//- .col-md-3(id="FixedRate",style="position:fixed;")
//-         h4 Tariffs Requests
//-         .row(ng-hide="oldTmsRequest.length")
//-             h4
//-                 | Couldn't find any requests
//-                 i.icon-frown
//-         table.table.table-hover
//-                 tbody(ng-repeat="r in oldTmsRequest  | filter:searchs")
//-                         tr
//-                                 td
//-                                         ul.nav.nav-list(bs-tooltip="tooltip.expand",ng-class="{'alert alert-info': ($state.includes('request.tmsList.detail') ) && $stateParams.requestId == r.id}")
//-                                                 label(style="cursor: pointer;",ng-click='isCurrentTmsStackHolderCollapsed = !isCurrentTmsStackHolderCollapsed')
//-                                                         strong.text-info  Current Stakeholders : {{r.workflowUsers.length}}
//-                                                 div(collapse='isCurrentTmsStackHolderCollapsed')
//-                                                         .alert-blank(ng-repeat="u in r.workflowUsers")
//-                                                                 i.icon-user
//-                                                                 small &nbsp; {{u.email}}
//-                                         ul.nav.nav-list(href="#/tms/list/{{$stateParams.accountId}}/detail/{{r.id}}",ng-class="{'alert alert-info': ($state.includes('request.tmsList.detail') ) && $stateParams.requestId == r.id}", ng-click="selectTmsRequest(r.id)")
//-                                                 label
//-                                                         strong(popover-placement="right",popover="{{quickViewAttachments[$index]}}",popover-trigger="mouseenter")  {{r.docId.length}} Attachments  ({{r.accountName}})
//-                                                         span.small.label.label-success.pull-right(ng-show="r.action=='A'") Approved
//-                                                         span.small.label.label-important.pull-right(ng-show="r.action=='R'") Rejected
//-                                                 li(style="cursor: pointer;")
//-                                                         i.icon-large.icon-calendar &nbsp Effective Date - {{r.effectiveDate  | date:'mediumDate'}}
//-                                                 li(style="cursor: pointer;")
//-                                                         i.icon-large.icon-calendar &nbsp Expiry Date - {{r.expiryDate  | date:'mediumDate'}}

.col-md-8(ui-view="detail")
