.col-xs-12
	.modal-dialog.container
		.modal-content
			form(name="form",novalidate)
				.modal-header
					button.close(aria-hidden='true', data-dismiss='modal', type='button', ng-click="close()")     &times;
					h4.modal-title Upload New Invoice
						i.icon-spinner.icon-spin.white.icon-large(ng-show="loader")
				.modal-body(ng-init="getTemplate()")
					div(ui-handsontable='{rowHeaders: true, currentRowClassName: "currentRow",currentColClassName: "currentCol"}',datarows='data in datas', columns='dlgColumns',manualColumnResize='true',minsparerows='1',contextMenu='false',id="invoice",beforeKeyDown='beforeKeydown',afterSelection='afterSelection')
					div(style="clear:both;padding-top:12px")
				.modal-footer
					.pull-left

					.pull-right						
						button.inz-btn3.btn-sm.btn-default(ng-click="close()") Cancel
						button.inz-btn3.btn-sm.btn-success(ng-click="saveData()") Save