//Created by kamalsingh.saini on 20/5/14.
.modal-dialog.container
    .modal-content
            .modal-header
                button.close(aria-hidden='true', data-dismiss='modal', type='button', ng-click="close()")     &times;
                h4.modal-title Document Upload / Linking &nbsp;
                    i.icon-spinner.icon-spin.white.icon-large(ng-show="loader")
            .modal-body
                tabset
                    tab.tab(heading="Upload Documents",ng-click="currentTab='uploadDocuments'",ng-if="obj.isUpload")
                        .row
                            .col-md-4(ng-repeat="item in obj.fields")
                                label.blue {{item.label}}
                                label : {{item.value}}
                            .col-md-4
                                input(type="checkbox",id="rDoc",ng-model="obj.replaceDoc")
                                label(for="rDoc") Repalce existing document
                        div(style="clear:both;height:5px;")
                        .row
                            div(id="newFiles",ng-controller="FileUploadController")
                                form.fileupload.fileUps(data-upload-template-id="template-upload-1",method='POST',action="api/uploadFiles/{{obj.fields.accountNumber.value}}/{{obj.fields.fileName.value}}?replace={{obj.replaceDoc}}", enctype='multipart/form-data',data-ng-app="angularApp", data-file-upload='options')
                                    div(bs-tooltip="tooltip.drop")#drop-area
                                        .fileinput-button.btn-file(bs-tooltip="tooltip.attach")
                                            input(type='file',id="files-upload", name='file', multiple='multiple')
                                            i.icon-cloud-upload

                                        .drop-instructions
                                            mute  Browse and upload multiple files or drag and drop files here
                                        .drop-over Drop files here!
                                    .row.uploaded(ng-hide="proceedClicked")
                                        .file(data-ng-repeat='file in queue track by $index')
                                            span.file-name(ng-class='file.class')
                                                a(style="cursor: pointer;", bs-tooltip="tooltip.download",target='_blank', href='{{$location.host()}}/api/downloadFile?fileName={{file.id}}&accountNumber={{obj.fields.accountNumber.value}}', download='{{file.name}}' ) {{file.id || file.name}} &nbsp
                                                i.fa.fa-times-circle.ico-dismis(data-dismiss='alert',ng-click="callRemoveNewDocumentId(file.id)", bs-tooltip="tooltip.delete",style="cursor: pointer;")
                                        button.inz-btn.btn-sm.btn-success.pull-right(type="submit",ng-click="proceed()",ng-show="docExist") Proceed &nbsp;
                                            i.fa.fa-long-arrow-right
                    tab.tab(heading="Link Documents",ng-click="currentTab='linkDocuments'",ng-if="obj.isLinking")
                        .row
                            form(name="form",novalidate)
                                div.col-md-4(ng-repeat="item in obj.fields")
                                        label.control-label {{item.label}}
                                        .controls.pull-right(ng-switch='item.type')
                                            input(ng-switch-when='text',readonly="{{item.readOnly}}",unique="{{item.key}},{{item.isUniqueField}},company",type="text",ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                                            input(ng-switch-when='date',datepicker-popup="{{format}}",datepicker-options="dateOptions",,name="name",type="text",ng-model="item.value",is-open="opened",ng-required="item.isMandatory",close-text="Close",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                                            input(ng-switch-when='numeric',unique="{{item.key}},{{item.isUniqueField}},company",type="number",ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                                            dynamic-Select(ng-switch-when='multiselect',multiselect,ng-required="item.isMandatory",name="name",ng-model="item.value",ph="{{item.suggestionsSource}}",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}",placeholder="{{item.toolTip}}")
                                            dynamic-Select(ng-switch-when='dropdown',customobj='{"childCompany":""}',ng-required="item.isMandatory",name="name",ng-model="item.value",ph="{{item.suggestionsSource}}",toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}",placeholder="{{item.toolTip}}")
                                            textarea(ng-switch-when='multiline',columns=5,rows=3,ng-pattern="{{item.regex}}",ng-required="item.isMandatory",ng-maxlength="{{item.length}}",name="name",ng-model="item.value",ng-trim,toolTip="{{item.toolTip}}",ng-readonly="{{item.isReadonly}}")
                                            //span(ng-show="subForm.name.$error.required") *
                                            //span(ng-show="subForm.name.$error.unique") already Exists
                                            //span(ng-show="subForm.name.$error.number") only numbers
                                            //span(ng-show="subForm.name.$error.date") only date
                                            //span(ng-show="subForm.name.$error.maxlength") max length is {{item.length}}
                                            //span(ng-show="subForm.name.$error.pattern") Can contain only text
                                            //span.green.validTick(ng-show="subForm.name.$valid") &#10004;
                        .row
                            div.overflow-auto(style="max-height:350px;padding:5px 2px")
                                table.inz-table1
                                    thead
                                        th FileName
                                        th {{relate.label}}
                                    tboady
                                        tr(ng-repeat="file in resultFiles track by $index")
                                            td {{file.fileName}}
                                            td
                                                dynamic-Select(customobj='{{relate.srcData}}',ng-model="file['relateWith.invoiceNumber']",ph="{{relate.src}}",toolTip="{{relate.label}}",placeholder="{{relate.label}}")

            .modal-footer
                button.inz-btn.btn-sm.btn-default(ng-click="close()") Done
                button.inz-btn.btn-sm.btn-success(ng-click="search()",ng-show="currentTab==='linkDocuments'") Search
                button.inz-btn.btn-sm.btn-success(ng-click="link()",ng-show="currentTab==='linkDocuments'") Link
