.page-header    
.row
        .col-xs-12
                form.form-horizontal(novalidate, name="form")
                        .fieldset
                                .row
                                        .btn-group.pull-right
                                                button.btn.btn-success.btn-margin.btn-sm
                                                        i.icon-plus.icon-white
                                                        |  Assign Role
                                                button.btn.btn-success.btn-margin.btn-sm
                                                        i.icon-plus.icon-white
                                                        |  Assign Group
                                                button.btn.btn-success.btn-margin.btn-sm
                                                        i.icon-plus.icon-white
                                                        |  Assign Permission


                                .main-content(id="main-content")
                                        .page-content(id="page-content",ui-view="Innerlist")